<style>
    .header-about-us {
        display: flex;
    }
</style>

<section class="top">
    <ul class="breadcrumbs">
        <li><a href="#home">Home</a></li>
      
        <li>About</li>
    </ul>
</section>

<section class="summary">
    <div class="summary-txt">
        <h3>
            Our expert team is here to make sure that you and your animal are in the best hands.<br>
            We are located in Northern-Denmark, looking forward to meet you and your companion.
        </h3>
    </div>
</section>

<section class="right">
    <div class=about-txt>
        <div class="about-name">
            <h2>Bettina Hvidemose</h2>
        </div>
        <p>
            Jeg hedder Bettina Hvidemose og er indehaver af Center for Dyreterapi, som jeg har drevet siden 2005.
            Jeg har altid haft dyr omkring mig, og har altid vist at jeg gerne ville arbejde med at hjælpe dyr og deres
            ejere.<br>
            Som en del af vejen mod dette mål, tog jeg først heste- og hundeadfærdsinstruktøruddannelserne hos Etologisk Institut v/Roger Abrantes, 
            hvor jeg derefter læste videre og afsluttede 
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
    <div class="about-img">
        <img src="/assets/img/small/about/bettina.png">
    </div>
</section>


<section class="left">
    <div class="about-img">
        <img src="/assets/img/small/about/susanne.png">
    </div>
    <div class=about-txt>
        <div class="about-name">
            <h2>Susanne Olesen</h2>
        </div>
        <p>
            Susanne er uddannet hestetræningskonsulent i juni 2013, hundeadfærdsinstruktør i januar 2013 og fysiurgisk
            hesteterapeut i januar 2016.
            Efter endt uddannelse har Susanne undervist hunde-eleverne på Vittrup Efterskole  i lydighedstræning samt været undervisningsassistent på sommerens hundekurser på Vrå Højskole.

            Siden efteråret 2013 har Susanne desuden undervist i hvalpetræning, enetimer og
            
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
</section>

<section class="right">
    <div class=about-txt>
        <div class="about-name">
            <h2>Renée Søndergaard</h2>
        </div>
        <p>
            Renée er uddannet Veterinær Ernærings Terapeut og Hundeadfærdsinstruktør. Hun har suppleret sine uddannelser
            med kurser indenfor bl.a. hestetræning og adfærd, holisme samt kurser med bl.a. Dr. Sophia Yin og Anders
            Hallgren.<br>
            Renée har en bred vifte af erfaring indenfor dyretræning, her i blandt oplæring og træning af psykiatriske servicehunde, samt træning af sælerne på Nordsøen Oceanarium.
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
    <div class="about-img">
        <img src="/assets/img/small/about/renee.png">
    </div>
</section>

<section class="left">
    <div class="about-img">
        <img src="/assets/img/small/about/majken.png">
    </div>
    <div class=about-txt>
        <div class="about-name">
            <h2>Majken Jensen</h2>
        </div>
        <p>
            Majkens hverdag går med at varetage arbejde Center for Dyreterapis kundekreds indenfor fysiurgisk terapi af
            heste og hunde samt uddannelse af elever.
            Majken har været fast tilknyttet Center for Dyreterapi siden 2012.<br>
            Majken er uddannet fysiurgisk hesteterapeut & hestetræningskonsulent og har desuden fulgt uddannelserne som hundeadfærdsintruktør og dyreadfærdskonsulent.
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
</section>

</html>