<header class="header-about-us">
    <div class="title-box">
        <h1>About Us</h1>
        <h3>We are here to assist <span>you and your companion</span></h3>
    </div>
</header>

<section class="top-about">
    <ul class="breadcrumbs">
        <li><a href="#home">Home</a></li>
        <li>About</li>
    </ul>

    <div class="summary-text">
        <h3>
            Our expert team is here to make sure that you and your animal are in the best hands.<br>
            We are located in Northern-Denmark, looking forward to meet you and your companion.
        </h3>
    </div>
</section>

<section class="right">
    <div class="about-wrapper">
        <div class=about-txt>
            <div class="about-name">
                <h2>Bettina Hvidemose</h2>
            </div>
            <p>
                Jeg hedder Bettina Hvidemose og er indehaver af Center for Dyreterapi, som jeg har drevet siden 2005.
                Jeg har altid haft dyr omkring mig, og har altid vist at jeg gerne ville arbejde med at hjælpe dyr og
                deres
                ejere<span class="read_more_inner_link" id="dots">...</span><span id="moreBettina" class="more"> Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit. Voluptas blanditiis reprehenderit ullam nisi
                    nostrum
                    omnis maxime dolore aperiam ad repellendus. Perspiciatis dolor rerum illum voluptatum reiciendis id
                    in
                    possimus deserunt sint repellat cum officiis quidem quasi, voluptas fugit praesentium temporibus
                    amet
                    asperiores beatae nulla aliquam consectetur aspernatur modi expedita? Corrupti esse sed,
                    voluptatibus
                    culpa doloribus eum obcaecati magnam vitae consectetur deserunt? Voluptatibus explicabo error
                    reprehenderit magnam, repudiandae corporis quos pariatur est at, ducimus porro exercitationem,
                    tempore
                    ratione aspernatur eveniet placeat.</span>
            </p>
            <a class="read_more_inner_link" onclick="readMore('moreBettina')" id="readMoreBtn">Read more </a>
        </div>
        <div class="about-img">
            <img src="assets/img/small/about/bettina.png">
        </div>
    </div>
</section>


<section class="left">
    <div class="about-wrapper">
        <div class="about-img">
            <img src="assets/img/small/about/susanne.png">
        </div>
        <div class=about-txt>
            <div class="about-name">
                <h2>Susanne Olesen</h2>
            </div>
            <p>
                Susanne er uddannet hestetræningskonsulent i juni 2013, hundeadfærdsinstruktør i januar 2013 og
                fysiurgisk
                hesteterapeut i januar 2016. Efter endt uddannelse har Susanne undervist hunde-eleverne på Vittrup
                Efterskole <span class="read_more_inner_link" id="dots">...</span><span id="moreSusanne" class="more">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas blanditiis reprehenderit ullam
                    nisi nostrum omnis maxime dolore aperiam ad repellendus. Perspiciatis dolor rerum illum voluptatum
                    reiciendis id in possimus deserunt sint repellat cum officiis quidem quasi, voluptas fugit
                    praesentium temporibus amet asperiores beatae nulla aliquam consectetur aspernatur modi expedita?
                    Corrupti esse sed, voluptatibus culpa doloribus eum obcaecati magnam vitae consectetur deserunt?
                    Voluptatibus explicabo error reprehenderit magnam, repudiandae corporis quos pariatur est at,
                    ducimus porro exercitationem, tempore ratione aspernatur eveniet placeat.</span>
            </p>
            <a class="read_more_inner_link" onclick="readMore('moreSusanne')" id="readMoreBtn">Read more </a>
        </div>
    </div>
</section>

<section class="right">
    <div class="about-wrapper">
        <div class=about-txt>
            <div class="about-name">
                <h2>Renée Søndergaard</h2>
            </div>
            <p>
                Renée er uddannet Veterinær Ernærings Terapeut og Hundeadfærdsinstruktør. Hun har suppleret sine
                uddannelser
                med kurser indenfor bl.a. hestetræning og adfærd, holisme samt kurser med bl.a. Dr. Sophia Yin og Anders
                Hallgren <span class="read_more_inner_link" id="dots">...</span><span id="moreRenee" class="more">
                    Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit. Voluptas blanditiis reprehenderit ullam nisi
                    nostrum
                    omnis maxime dolore aperiam ad repellendus. Perspiciatis dolor rerum illum voluptatum reiciendis id
                    in
                    possimus deserunt sint repellat cum officiis quidem quasi, voluptas fugit praesentium temporibus
                    amet
                    asperiores beatae nulla aliquam consectetur aspernatur modi expedita? Corrupti esse sed,
                    voluptatibus
                    culpa doloribus eum obcaecati magnam vitae consectetur deserunt? Voluptatibus explicabo error
                    reprehenderit magnam, repudiandae corporis quos pariatur est at, ducimus porro exercitationem,
                    tempore
                    ratione aspernatur eveniet placeat.</span>
            </p>
            <a class="read_more_inner_link" onclick="readMore('moreRenee')" id="readMoreBtn">Read more </a>
        </div>
        <div class="about-img">
            <img src="assets/img/small/about/renee.png">
        </div>
    </div>
</section>

<section class="left">
    <div class="about-wrapper">
    <div class="about-img">
        <img src="assets/img/small/about/majken.png">
    </div>
    <div class=about-txt>
        <div class="about-name">
            <h2>Majken Jensen</h2>
        </div>
        <p>
            Majkens hverdag går med at varetage arbejde Center for Dyreterapis kundekreds indenfor fysiurgisk terapi af
            heste og hunde samt uddannelse af elever.
            Majken har været fast tilknyttet Center for Dyreterapi siden 2012 <span class="read_more_inner_link"
                id="dots">...</span><span id="moreMajken" class="more"> Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Voluptas blanditiis reprehenderit ullam nisi nostrum omnis maxime dolore aperiam ad
                repellendus. Perspiciatis dolor rerum illum voluptatum reiciendis id in possimus deserunt sint repellat
                cum officiis quidem quasi, voluptas fugit praesentium temporibus amet asperiores beatae nulla aliquam
                consectetur aspernatur modi expedita? Corrupti esse sed, voluptatibus culpa doloribus eum obcaecati
                magnam vitae consectetur deserunt? Voluptatibus explicabo error reprehenderit magnam, repudiandae
                corporis quos pariatur est at, ducimus porro exercitationem, tempore ratione aspernatur eveniet
                placeat.</span>
        </p>
        <a class="read_more_inner_link" onclick="readMore('moreMajken')" id="readMoreBtn">Read more </a>
    </div>
</div>
</section>