<style>
    header {
        height: 60vh;
        z-index: -5;
        background-image: url(../assets/img/about/team.jpg);
        background-position: top center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        padding-bottom: calc(2 * var(--margin-h-big));
    }
</style>

<header>
    <div class="title-box">
        <h1>About Us</h1>
        <h3>We are here to assist you and your companion</h3>
    </div>
</header>

<section class="top">
    <div class="summary">
        <h3>
            Our expert team is here to make sure that you and your animal are in the best hands.
            We are located in Northern-Denmark, looking forward to meet you and your companion.
        </h3>
    </div>
</section>

<section class="right">
    <div class="about-name">
        <h2>Bettina Hvidemose</h2>
    </div>

    <div class=about-txt>
        <p>
            Jeg hedder Bettina Hvidemose og er indehaver af Center for Dyreterapi, som jeg har drevet siden 2005.
            Jeg har altid haft dyr omkring mig, og har altid vist at jeg gerne ville arbejde med at hjælpe dyr og deres
            ejere.
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
    <div class="about-img">
        <image src="../assets/img/about/bettina.jpg" alt="Bettina smiling with a certificate"></image>
    </div>
</section>

<section class="left">
    <div class="about-name">
        <h2>Susanne Olesen</h2>
    </div>

    <div class=about-txt>
        <p>
            usanne er uddannet hestetræningskonsulent i juni 2013, hundeadfærdsinstruktør i januar 2013 og fysiurgisk
            hesteterapeut i januar 2016.
            Efter endt uddannelse har Susanne undervist hunde-eleverne på Vittrup Efterskole
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
    <div class="about-img">
        <image src="../assets/img/about/susanne.jpg" alt="Susanne sitting among flowers"></image>
    </div>
</section>

<section class="right">
    <div class="about-name">
        <h2>Renée Søndergaard</h2>
    </div>
    <div class=about-txt>
        <p>
            Renée er uddannet Veterinær Ernærings Terapeut og Hundeadfærdsinstruktør. Hun har suppleret sine uddannelser
            med kurser indenfor bl.a. hestetræning og adfærd, holisme samt kurser med bl.a. Dr. Sophia Yin og Anders
            Hallgren.
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
    <div class="about-img">
        <image src="../assets/img/about/renée.jpg" alt="Renée sitting in her office"></image>
    </div>
</section>

<section class="left">
    <div class="about-name">
        <h2>Majken Jensen</h2>
    </div>

    <div class=about-txt>
        <p>
            Majkens hverdag går med at varetage arbejde Center for Dyreterapis kundekreds indenfor fysiurgisk terapi af
            heste og hunde samt uddannelse af elever.
            Majken har været fast tilknyttet Center for Dyreterapi siden 2012.
            <span class="read_more_inner_link">..Read more</span>
        </p>
    </div>
    <div class="about-img">
        <image src="../assets/img/about/majken.png" alt="Majken in her office"></image>
    </div>
</section>

</html>