<header class="header-bachs-flower-remedies">
    <div class="title-box">
        <h1>Bach's Flower Remedies</h1>
        <h3>When your animal has <span class="red"> negative emotions</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="">Treatment&Therapy</a></li>
    <li>Behavior Therapy</li>
    <li>Therapy for Dogs</li>
</ul>

<div class="content-wrapper">
    <div class="heading-text">
        <h3 class="dark-red">Bach's Flower Remedies has gradually become a well-known and recognized supplement to behavioral 
            therapy. 
        </h3>
        <p>
            Bettina has been working with Bach's Flower Media for Animals since 2006, and in addition to using them as a supplement to behavioral therapy with 
            certain own clients, I receive referrals regarding. this from behavioral therapists throughout Denmark.
        </p>
        <p>
            Flower remedies sound a bit mysterious and alternative, but in fact it is quite concrete and the remedy's effect is 
            scientifically proven. The remedies have passed a double blind test, which shows that we can expect to reduce the symptoms in up to 7 out 
            of 10 cases and that the remedies are not placebo. 
        </p>
    </div>

    <div class="quote-img-text">
        <img src="assets/img/medium/bachs-flower-remedies/bettina.jpg">
           <div> 
                <p>
                    "It is extremely rare that I use only Bach remedies - most often I recommend them in combination with other treatments.
                    <a href="mailto:bettina@dyreterapi.dk">Please write to me</a> for further information."
                    <p class="bold">- Bettina Hvidemose</p>
                </p>
            </div>
    </div>

    <div class="list-container">
        <h3>Examples of issues where Bach's Flower Media may be relevant.</h3>
        <ul>
            <li>anxiety in horses and dogs - including New Year's anxiety </li>
            <li>allergies, in horses, dogs and cats</li>
            <li>alone home problems with dogs  </li>
            <li>contact-seeking behavior / attention-seeking </li>
            <li>stress </li>
            <li>problems with adapting to new situations </li>
        </ul>
    </div>
    <div class="heading-text">
        <h3 class="dark-red">What does the flower remedy contain. 
        </h3>
        <p>
            Today, the Bach Center in England and Nelson Bach are responsible for the production and distribution of the remedies. After the specific flowers have been 
            collected, they are prepared based on the solar method and the cooking method. By the solar method, the flowers are placed in a bowl of spring water, and then 
            placed in the sun, which should then cause the spring water to bind the energy of the flowers. Of course, this method is only applicable at the time of year 
            when the sun's rays are strong enough. 
        </p>
    </div>
    <div class="heading-text">
        <h3 class="dark-red">Delivery
        </h3>
        <p>
            Today, the Bach Center in England and Nelson Bach are responsible for the production and distribution of the remedies. After the specific flowers have been 
            collected, they are prepared based on the solar method and the cooking method. By the solar method, the flowers are placed in a bowl of spring water, and then 
            placed in the sun, which should then cause the spring water to bind the energy of the flowers. Of course, this method is only applicable at the time of year 
            when the sun's rays are strong enough. 
        </p>
    </div>

        <h4 class="bold border-top cons-title">Bottled flower remedies</h4>
    <div class="therapy-prices-container">
        <article>
            <h2>Prices</h2>
            <div class="prices">
                    <div class="prices-flex-container">
                        <div>
                            <p> 1 bottle mixed for the individual animal - + consultation</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">150 DKK,-</p>
                        </div>
                    </div>
                    <div class="prices-flex-container">
                        <div>
                            <p> Delivery all over the country</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">additional 30 DKK,-</p>
                        </div>
                    </div>
            </div>
        </article>
    </div>
</div>

<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img  class="round-img" src="assets/img/small/therapy-for-dogs/bettina.jpg">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Bettina Hvidemose</h2>
            <p>Does your animal have behavioral problems? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:bettina@dyreterapi.dk">bettina@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 31 20 35 20</a>
            </div>
        </div>
    </div>
</section>