<header class="header-education-and-courses">
    <div class="title-box">
        <h1>Education & Courses</h1>
        <h3>Exciting courses and training courses for <span>private and professional</span></h3>
    </div>
</header>


<ul class="breadcrumbs">
    <li><a href="#index">Home</a></li>
    <li>Education & Courses</li>
</ul>


<div class="category-page">

    <div class="category-title">
        <div>
            <h2>Education - About dogs</h2> <i class="fas fa-angle-down"
                onclick="openCategory(educationDogs, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="educationDogs">


        <div class="card">
            <a href="#physiurgical-dog-therapist">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/physiurgical-dog-therapist.jpg">
                    <img src="assets/img/small/education-and-courses/physiurgical-dog-therapist.jpg"
                        alt="Category image for dog therapist">
                </picture>

                <div class="content">
                    <h4>Physiurgical Dog Therapist</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#training-hirtshals">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/dog-behavior-instructor.jpg">
                    <img src="assets/img/small/education-and-courses/dog-behavior-instructor.jpg"
                        alt="Category image for training in Hirtshals">
                </picture>
                <div class="content">
                    <h4>Dog Behavior Instructor</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>
    </div>

    <!-- -------------------------------------------------------------------------------------------- -->

    <div class="category-title">
        <div>
            <h2>Education - About horses</h2> <i class="fas fa-angle-down"
                onclick="openCategory(educationHorses, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="educationHorses">

        <div class="card">
            <a href="#horse-training-colsulant">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/horse-training-colsulant.jpg">
                    <img src="assets/img/small/education-and-courses/horse-training-colsulant.jpg"
                        alt="Category image for Horse Training Consultant.">
                </picture>
                <div class="content">
                    <h4>Horse Training Consultant</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                        Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#physiurgical-horse-therapist">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/physiurgical-horse-therapist.jpg">
                    <img src="assets/img/small/education-and-courses/physiurgical-horse-therapist.jpg"
                        alt="Category image for Physiurgical Horse Therapist.">
                </picture>
                <div class="content">
                    <h4>Physiurgical Horse Therapist</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#physiurgical-horse-therapist-master">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/physiurgical-horse-therapist-master.jpg">
                    <img src="assets/img/small/education-and-courses/physiurgical-horse-therapist-master.jpg"
                        alt="Category image for Physiurgical Horse Therapist - Master.">
                </picture>
                <div class="content">
                    <h4>Physiurgical Horse Therapist - Master</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horses-masseur">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/horse-maseur.jpg">
                    <img src="assets/img/small/education-and-courses/horse-maseur.jpg"
                        alt="Category image for Horses Masseur.">
                </picture>
                <div class="content">
                    <h4>Horses Masseur</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#cranio-sacral-therapist-horse">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="assets/img/medium/education-and-courses/cranio-sacral-therapist-horse.jpg">
                    <img src="assets/img/small/education-and-courses/cranio-sacral-therapist-horse.jpg"
                        alt="Category image for Cranio Sacral Horse Therapist.">
                </picture>
                <div class="content">
                    <h4>Cranio Sacral Therapist Horses</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------- -->
    <div class="category-title">
        <div>
            <h2>Courses - For Dogs</h2> <i class="fas fa-angle-down" onclick="openCategory(coursesForDogs, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="coursesForDogs">

        <div class="card">
            <a href="#dog-behaviour-and-learning-psycology">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/dog-behaviour-and-teaching-psycology.jpg">
                    <img src="assets/img/small/education-and-courses/dog-behaviour-and-teaching-psycology.jpg"
                        alt="Category image for Dog Behavior & Teaching Psycology.">
                </picture>
                <div class="content">
                    <h4>Dog Behavior & Teaching Psycology</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#dog-massage-for-house-needs">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/dog-massage-for-house-need.jpg">
                    <img src="assets/img/small/education-and-courses/dog-massage-for-house-need.jpg"
                        alt="Category image for Riding Teaching">
                </picture>
                <div class="content">
                    <h4>Dog Massage for House Needs</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#dog-massage-for-house-needs-online">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/dog-massage-for-house-need-online.jpg">
                    <img src="assets/img/small/education-and-courses/dog-massage-for-house-need-online.jpg"
                        alt="Category image for Riding Teaching">
                </picture>
                <div class="content">
                    <h4>Dog Massage for House Needs - Online</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#dog-cranio-sacral-therapy">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/cranio-sacral-therapy-for-dogs.jpg">
                    <img src="assets/img/small/education-and-courses/cranio-sacral-therapy-for-dogs.jpg"
                        alt="Category image for Cranio Sacral Therapy for dogs">
                </picture>
                <div class="content">
                    <h4>Cranio Sacral Therapy</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>

    <!-- -------------------------------------------------------------------------------------------- -->
    <div class="category-title">
        <div>
            <h2>Courses - For Horses</h2> <i class="fas fa-angle-down" onclick="openCategory(coursesForHorses, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="coursesForHorses">

        <div class="card">
            <a href="#horse-anatomy-biomechanics-gymnastization">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-anatomy-biomechanics-gymnastization.jpg">
                    <img src="assets/img/small/education-and-courses/horse-anatomy-biomechanics-gymnastization.jpg"
                        alt="Category image for Anatomy ,Biomechanics & Gymnastization.">
                </picture>
                <div class="content">
                    <h4>Anatomy ,Biomechanics & Gymnastization</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-massage-for-house-needs">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-massage-for-house-needs.jpg">
                    <img src="assets/img/small/education-and-courses/horse-massage-for-house-needs.jpg"
                        alt="Category image for horse Massage for House Needs">
                </picture>
                <div class="content">
                    <h4>Horse Massage for House Needs</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-massage-for-house-needs-online">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-massage-for-house-needs-online.jpg">
                    <img src="assets/img/small/education-and-courses/horse-massage-for-house-needs-online.jpg"
                        alt="Category image for horse Massage for House Needs">
                </picture>
                <div class="content">
                    <h4>Horse Massage for House Needs - Online</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-kinesiotaping">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-kinesiotaping.jpg">
                    <img src="assets/img/small/education-and-courses/horse-kinesiotaping.jpg"
                        alt="Category image for Kinesiotaping for Horses">
                </picture>
                <div class="content">
                    <h4>Kinesiotaping for Horses</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-soft-tissue-mobilization">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-soft-tissue-mobilization.jpg">
                    <img src="assets/img/small/education-and-courses/horse-soft-tissue-mobilization.jpg"
                        alt="Category image for Soft Tissue Mobilization">
                </picture>
                <div class="content">
                    <h4>Soft Tissue Mobilization</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-behavior-and-learning-psychology">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-behavior-and-beaching-pshycology.jpg">
                    <img src="assets/img/small/education-and-courses/horse-behavior-and-beaching-pshycology.jpg"
                        alt="Category image for Behavior & Teaching Psycology">
                </picture>
                <div class="content">
                    <h4>Behavior & Teaching Psycology</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-cranio-sacral-therapy">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-cranio-sacral-therapy.jpg">
                    <img src="assets/img/small/education-and-courses/horse-cranio-sacral-therapy.jpg"
                        alt="Category image for Cranio Sacral Therapy">
                </picture>
                <div class="content">
                    <h4>Cranio Sacral Therapy</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-cranio-sacral-therapy-level-info">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-cranio-sacral-therapy-level-info.jpg">
                    <img src="assets/img/small/education-and-courses/horse-cranio-sacral-therapy-level-info.jpg"
                        alt="Category image for Cranio Sacral Therapy - Level-Info">
                </picture>
                <div class="content">
                    <h4>Cranio Sacral Therapy - Level-Info</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#horse-riding-training">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/horse-riding-training.jpg">
                    <img src="assets/img/small/education-and-courses/horse-riding-training.jpg"
                        alt="Category image for Riding training">
                </picture>
                <div class="content">
                    <h4>Riding training</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#info-day-and-workshop-horse">
                <picture>
                    <source media="(min-width:576px)" srcset="assets/img/medium/education-and-courses/info-day-and-workshop-horse.jpg">
                    <img src="assets/img/small/education-and-courses/info-day-and-workshop-horse.jpg"
                        alt="Category image for Info Day & Workshop Muscular & Neuromotor">
                </picture>
                <div class="content">
                    <h4>Info Day & Workshop Muscular & Neuromotor</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>