<style>
    .header-education-courses {
        display: flex;
    }
</style>

<section class="top">
    <ul class="breadcrumbs">
        <li><a href="#index">Home</a></li>
        <li>Education & Courses</li>
    </ul>
</section>


<div class="title">
    <h2>
        Courses for Dogs
    </h2>
    <hr class="title-line">
</div>

<ul class="card-list">

    <li class="card">
        <a class="card-image" href="#" ></a>
            <img src="/assets/img/big/education-courses/Dog-behavior-and-teaching-phycology.jpg" alt="dog-behavior" />
            <h3>Dog Behavior and
                Teaching Phycology</h3>
            <p>Description</p>
        
        </li>
        <li class="card">
            <a class="card-image" href="#" ></a>
                <img src="/assets/img/big/education-courses/Dog-behavior-and-teaching-phycology.jpg" alt="dog-behavior" />
            </a>
                <h3>Dog Behavior and
                    Teaching Phycology</h3>
                <p>Description</p>
            
            </li>
            <li class="card">
                <a class="card-image" href="#" ></a>
                    <img src="/assets/img/big/education-courses/Dog-behavior-and-teaching-phycology.jpg" alt="dog-behavior" />
                </a>
                    <h3>Dog Behavior and
                        Teaching Phycology</h3>
                    <p>Description</p>
                
                </li>
                <li class="card">
                    <a class="card-image" href="#" ></a>
                        <img src="/assets/img/big/education-courses/Dog-behavior-and-teaching-phycology.jpg" alt="dog-behavior" />
                    </a>
                        <h3>Dog Behavior and
                            Teaching Phycology</h3>
                        <p>Description</p>
                    
                    </li>
                    <li class="card">
                        <a class="card-image" href="#" ></a>
                            <img src="/assets/img/big/education-courses/Dog-behavior-and-teaching-phycology.jpg" alt="dog-behavior" />
                        </a>
                            <h3>Dog Behavior and
                                Teaching Phycology</h3>
                            <p>Description</p>
                        
                        </li>
    </ul>