<header class="header-feed-consulting">
    <div class="title-box">
        <h1>Feed Consulting</h1>
        <h3>Consultation and advice for a <span class="red">correct feed</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
        <li><a href="#home">Home</a></li>
        <li><a href="#training">Training</a></li>
        <li>Feed consulting</li>
</ul>

<div class="content-wrapper">
<section class="quote">
    <div>
        <p>
            "All animals are different and have different needs. With a feed advice we take your animal and the challenges it may have."
        </p>
    </div>
</section>

<article class="warning-container">
    <h2>Procedures For Sick Animals</h2>
    <p>
        <span class="bold">We are not veterinarians</span> and what we do can by no means replace a visit with the vet. If your horse or dog is ill or shows signs that could 
        potentially be related to illness or other medical conditions, always contact your veterinarian first.If your horse or dog <span class="bold">is on medication</span>, 
        you <span class="red bold">must</span> inform it before any consultation as we do not massage or do any other physical balancing on sick animals
    </p>
</article>

<div class="feeding-habits-flex-container">
    <article>
        <h3>Healthy feeding habits</h3>
        <p>
            Finding the right feed is important in part to make sure your animal gets all the important nutrients it needs. This applies both when we talk about vitamins and 
            minerals, but the content of proteins, fat and carbohydrates is also a very important piece.
        </p>
        <p>
            What we give our animals to eat are potential building blocks for the body's cells, organs, immune system, digestive system.
        </p>
    </article>
    <img src="/assets/img/big/feed-consulting/dog-eating.jpg">
</div>

<article class="list-container">
    <h3>Feeding problems can be expressed by:</h3>
    <ul>
        <li>Fur and skin problems</li>
        <li>Bad immune system</li>
        <li>Fordøjelsesproblematikker</li>
        <li>Adfærdsproblemer</li>
    </ul>
</article>


    <h2 class="red offer-title">We offer you</h2>
    <div class="feed-cons-title-flex">
        <h4 class="bold">Feed Consultation</h4>
        <p class="bold dark-red">Price: 250 DKK,- </p>
    </div>
    <div class="consultation-offer-container">
    <article>
    <p>
        We discuss your animal's feeding habits and set up an ideal nutritional plan designed specifically for your pet. A feeding 
        advice is solely a feeding advice. If you want specific help with a problem your animal has, a nutritional therapy consultation is recommended. 
    </p>
    <p>
        <span class="bold">Read about our Nutritional Therapy Consultation</span> <a href="#nutrition-therapy" class="bold">here.</a>
    </p>  
    </article>
    <p class="large">To sign up for a personal consultation, contact our Veterinary Nutrition Therapist</p>
    </div>
</div>

<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img class="round-img"src="/assets/img/small/feed-consulting/renee-sondergaard.jpg">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Renée Sondergaard</h2>
            <h4>Nutrition Therapist</h4>
            <p>Does your animal have problems with food? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:renee@dyreterapi.dk">renee@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 3120 3520</a>
            </div>
        </div>
    </div>
</section>