<footer class="footer">

    <div class="vertical-txt">

        <div class="quick-nav">
            <h3>Quick navigation</h3>
            <div class="quick-nav-items">
                <ul class="main-items">
                    <li><a href="#treatment">treatment & therapy</a></li>
                    <li><a href="#courses">education & courses</a></li>
                    <li><a href="#training">training</a></li>
                    <li><a href="#shop">books & sales</a></li>
                </ul>

                <ul>
                    <li><a href="#home">home</a></li>
                    <li><a href="#about">about us</a></li>
                    <li><a href="#practical-info">practical info</a></li>
                    <li><a id="privacy-policy" href="#privacy-policy" onclick="srollToElement()>privacy policy</a></li>
            </ul>
        </div>
        </div>

        <div class=" middle-section">
                            <div class="values">
                                <h3>Our values</h3>
                                <p>
                                    “Your animal’s welfare is our highest priority,
                                    <br>we treat your companions like family. "
                                </p>
                            </div>

                            <div class="social">
                                <h3>Follow us</h3>
                                <a href="https://www.facebook.com/dyreterapi" target="_blank"><i
                                        class="fab fa-facebook-square fa-2x"></i></a>
                                <a href="https://www.instagram.com/center_for_dyreterapi/?igshid=sma489xwakf7&fbclid=IwAR1ISEyTXc2J0_73DCMlAxhQ7FvnO7YagULMiOHrUMqASsk92cr-UT8Hpzs"
                                    target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                            </div>
            </div>

            <div class="footer-contact">
                <h3>Contact us</h3>
                <p>+45 31 20 35 20</p>
                <p>KRINGELHØJVEJ 12, 9850 HIRTSHALS</p>
                <div class="contact-general">
                    <h4>GENERAL INQUIRY</h4>
                    <p>info@dyreterapi.dk</p>
                </div>
                <div class="contact-staff">
                    <h4>BETTINA HVIDEMOSE</h4>
                    <p>bettina@dyreterapi.dk</p>
                    <h4>SUSANNE OLESEN</h4>
                    <p>susanne@dyreterapi.dk</p>
                    <h4>RENÉE SØNDERGAARD</h4>
                    <p>renee@dyreterapi.dk</p>
                    <h4>MAJKEN JENSEN</h4>
                    <p>majken@dyreterapi.dk</p>
                </div>
            </div>
        </div>

        <div class="approvals">
            <h3>We are approved by</h3>
            <div class="vertical-container">
                <img src="/assets/img/medium/certificates/aabp.png">
                <img src="/assets/img/medium/certificates/approved.png">
                <img src="/assets/img/medium/certificates/equine.png">
                <img src="/assets/img/medium/certificates/heste.png">
                <img src="/assets/img/medium/certificates/pet.png">
            </div>
        </div>

        <p>Copyright 2020 &copy; MMDI0919 Group 203</p>
</footer>