<footer class="footer">

   <h3>Quick navigation</h3>
   <ul class="main-items">
    <li><a href="#treatment">treatment & therapy</a></li>
    <li><a href="#courses">education & courses</a></li>
    <li><a href="#training">training</a></li>
    <li><a href="#shop">books & sales</a></li>
    <li><a id="privacy-policy" href="#privacy-policy">privacy policy</a></li>
    <li><a href="#home">home</a></li>
    <li><a href="#about">about us</a></li>
    <li><a href="#practical-info">practical info</a></li>
</ul>


   <h3>Our values</h3>
   <h3>Contact us</h3>
   
   
   
   
   
    <ul class="main-nav">
        <li><a href="#privacy-policy">Privacy policy</a></li>
    </ul>

    <p>Copyright 2020 &copy; MMDI0919 Group 203</p>
</footer>