<footer class="footer">

    <div class="vertical-txt">

        <div class="quick-nav">
            <h3>Quick navigation</h3>
            <div class="quick-nav-items">
                <ul class="footer-main-nav">
                    <li><a href="#treatment" onclick="scrollToElement()">treatment & therapy</a></li>
                    <li><a href="#courses" onclick="scrollToElement()">education & courses</a></li>
                    <li><a href="#training" onclick="scrollToElement()">training</a></li>
                    <li><a href="#shop" onclick="scrollToElement()">books & sales</a></li>
                </ul>

                <ul class="footer-basic-nav">
                    <li><a href="#home" onclick="scrollToElement()">home</a></li>
                    <li><a href="#about" onclick="scrollToElement()">about us</a></li>
                    <li><a href="#practical-info" onclick="scrollToElement()">practical info</a></li>
                    <li><a href="#privacy-policy" onclick="scrollToElement()">privacy policy</a></li>
                </ul>
            </div>
        </div>
        <div class="middle-section">
            <div class="values">
                <h3>Our values</h3>
                <p>
                    “Your animal’s welfare is our highest priority,
                    <br>we treat your companions like family. "
                </p>
            </div>

            <div class="social">
                <h3>Follow us: </h3>
                <a href="https://www.facebook.com/dyreterapi" target="_blank"><i
                        class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://www.instagram.com/center_for_dyreterapi/?igshid=sma489xwakf7&fbclid=IwAR1ISEyTXc2J0_73DCMlAxhQ7FvnO7YagULMiOHrUMqASsk92cr-UT8Hpzs"
                    target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>

        <div class="footer-contact">
            <h3>Contact us</h3>
            <p>+45 31 20 35 20</p>
            <div class="contact">
                <div class="row">
                    <div>
                        <p>Kringelhøjvej 12,<br>9850 Hirtshals</p>

                    </div>
                    <div class="bettina-email">
                        <h4>BETTINA HVIDEMOSE</h4>
                        <p>bettina@dyreterapi.dk</p>
                    </div>
                    <div class="susanne-email">
                        <h4>SUSANNE OLESEN</h4>
                        <p>susanne@dyreterapi.dk</p>
                    </div>
                </div>
                <div class="row">
                    <div class="genera-email">
                        <h4>GENERAL INQUIRY</h4>
                        <p>info@dyreterapi.dk</p>
                    </div>
                    <div class="renne-email">
                        <h4>RENÉE SØNDERGAARD</h4>
                        <p>renee@dyreterapi.dk</p>
                    </div>
                    <div class="majken-email">
                        <h4>MAJKEN JENSEN</h4>
                        <p>majken@dyreterapi.dk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="approvals">
        <h3>We are approved by</h3>
        <div class="vertical-container">
            <img src="..assets/img/medium/certificates/aabp.png"
                alt="Logo of Association of Animal Behavior Professionals">
            <img src="assets/img/medium/certificates/approved.png" alt="Approved Training Provider Logo">
            <img src="assets/img/medium/certificates/equine.png" alt="International Equine Body Worker Association">
            <img src="assets/img/medium/certificates/heste.png" alt="Logo of GODKENDT">
            <img src="assets/img/medium/certificates/pet.png"
                alt="Logo of Pet Education, Training & Behaviour Council">


        </div>
    </div>

    <p class="copyright">Copyright 2020 &copy; MMDI0919 Group 203</p>

</footer>