<header class="header-about-us">
    <div class="title-box">
        <h1>About Us</h1>
        <h3>We are here to assist you and your companion</h3>
    </div>
</header>

<header class="header-training-vra">
    <div class="title-box">
        <h1>Training in Vrå</h1>
        <h3> For little, big, young, old - <span>owners and dogs.</span></h3>
    </div>
</header>

<header class="header-training">
    <div class="title-box">
        <h1>Training</h1>
        <h3> Training and nutritional advice for you and <span>your companion</span></h3>
    </div>
</header>

<header class="header-practical-info">
    <div class="title-box">
        <h1>Practical Info</h1>
        <h3> Training and nutritional advice for you and <span>your companion</span></h3>
    </div>
</header>

<header class="header-privacy-policy">
    <div class="title-box">
        <h1>Privacy Policy</h1>
        <h3> Training and nutritional advice for you and <span>your companion</span></h3>
    </div>

</header>

<header class="header-education-courses">
    <div class="title-box">
        <h1>Education & Courses</h1>
        <h3> Exciting courses and training courses for <span> private and professional.</span></h3>
    </div>
    
</header>
