 <header class="header-home">
     <div class="title-box">
         <h1>Health, Happiness and <span>Professionalism</span> </h1>
         <h3> Center for Dyreterapy, the place where these come together for your animal</h3>
     </div>
     <div class="scroll-sign">
         <h4>Scroll Down</h4>
         <div><i class="fas fa-angle-double-down"></i></div>
     </div>
 </header>

 <ul class="breadcrumbs">
    <li>Home</li>
</ul>


 <section class="first-section">
     <h2>What we do</h2>
     <div class="cards-container">
         <div class="card">
             <img src="../assets/img/medium/home/horses-and-dogs.jpg" alt="horses-and-dogs">
             <div class="content">
                 <h3>TREATMENT & THERAPY</h3>
                 <p>We offer both for dogs and horses Behavior Therapy, Physiurgical therapy and Bach's flower remedies
                     for animals</p>
                 <a class="see-more" href="#treatment-and-therapy">Learn more</a>
             </div>

         </div>
         <div class="card">
             <img src="../assets/img/medium/home/classroom-teaching.jpg" alt="classroom-teaching">
             <div class="content">
                 <h3>EDUCATION & COURSES</h3>
                 <p>Here you can find a wide range <br> of options that our team has at your disposal </p>
                 <a class="see-more" href="#treatment-and-therapy">Learn more</a>
             </div>

         </div>

         <div class="card">
             <img src="../assets/img/medium/home/animal_brown_horse.jpg" alt="">
             <div class="content">
                 <h3>TRAINING</h3>
                 <p>Bring and give your pet the best experiencend <br>and we guarantee you will not regret it</p>
                 <a class="see-more" href="#treatment-and-therapy">Learn more</a>
             </div>

         </div>
     </div>
 </section>


 <section class="about-section">
     <h2>Who we are</h2>
     <div class="who-we-are">
         <div class="title-box">
             <h1>About us</h1>
             <h3> Our goal is to optimize the lives of our animals and thus achieve<br> as much animal welfare as
                 possible
                 in each individual case</h3>
             <a class="see-more" href="#about">See more</a>
         </div>
     </div>

 </section>


 <section class="happy-clients">
     <h2>Our happy clients</h2>
     <div class="testimonial-container">
         <div class="client-card">
             <div class="client">
                 <img src="../assets/img/medium/home/client-1.jpg" alt="Picture of client">
             </div>

             <p class="comment"> An absolutely fantastic education and super good teachers- horses masseur</p>
             <p class="name">Line Frederiksen</p>
         </div>

         <div class="client-card">
             <div class="client">
                 <img src="../assets/img/medium/home/client-2.jpg" alt="Picture of client">

             </div>
             <p class="comment"> Good place to educate - competent and professional teaching</p>
             <p class="name">Anette Kokholm </p>
         </div>
         <div class="client-card">
             <div class="client">
                 <img src="../assets/img/medium/home/client-3.jpg" alt="Picture of client">

             </div>
             <p class="comment"> I can only recommend the horse's massage of horses in the warmest</p>
             <p class="name">Brian Jonstrup</p>
         </div>
     </div>
 </section>

 <section class="facilities">
     <h2>Our facilities</h2>
     <div class="cards-container" id="facilitiesCarousel">
         <div class="our-facilities">
             <img src="../assets/img/medium/home/small-classroom.jpg" alt="Picture small class">
             <div>
                 <h4>The small classroom </h4>
                 <p>Our small classroom is located in the house on Kringelhøjvej 11a - right next to our training hall</p>
             </div>
         </div>

         <div class="our-facilities">
             <img src="../assets/img/medium/home/the-hall.jpg" alt="Picture small class">
             <div>
                 <h4>Big Classroom </h4>
                 <p>'The largest of our classrooms, where our small shop is also located.</p>
             </div>
         </div>

         <div class="our-facilities">
             <img src="../assets/img/medium/home/big-classroom.jpg" alt="Picture small class">
             <div>
                 <h4> Kringelhøjvej 11a  </h4>
                 <p>'Here is our small teaching room as well as the dog consultation with treadmills</p>
             </div>
         </div>

         <div class="our-facilities">
            <img src="../assets/img/medium/home/big-classroom.jpg" alt="Picture small class">
            <div>
                <h4> Kringelhøjvej 11a  </h4>
                <p>'Here is our small teaching room as well as the dog consultation with treadmills</p>
            </div>
        </div>


     </div>
 </section>




 <section class="newsletter">

     <div class="home-form">


         <div class="fullname-box">
            <div>
                <label for="firstname">First Name: <span>*</span></label>
             <input type="text" id="fname" name="firstname">
            </div>
             <div>
                <label for="lastname">Last Name: <span>*</span></label>
                <input type="text" id="lname" name="lastname">
             </div>
         </div>
         <label for="e-mail">E-mail Addres: <span>*</span></label>
         <input type="text" id="email" name="e-mail">

         <div class="accept-wrapper">
             <p>
                 The Center for Animal Therapy will use the entered information to keep in touch with you and keep you
                 updated on news from us. How may we contact you?
             </p>


             <div>
                 <input type="checkbox"  id='iAgree'name="agreement">
                 <label for="agreement">I accept the Privacy Policy and agree to sign up to
                     our newsletter</label>
             </div>

             <p>
                 You can unsubscribe from the newsletter at any time by clicking on the link at the bottom of the
                 newsletter. Please check our privacy policy by clicking on "Contact" or "Privacy Policy" in the menu
                 above.
             </p>

             <p>
                 We use "Mailchimp" as our marketing platform. When you sign up for the newsletter by clicking below,
                 you also allow us to share information with MailChimp in order to use their system. Read more about
                 MailChimp's privacy policy here.
             </p>

         </div>

         <button onclick="subscribeMsg()"> Write us.</button>

     </div>
     </div>

     <div class="contact-popup" onclick="subscribeMsg(true)">
         <div id="backMassage">
             <h1>Thank you for subscribing to our newsletter!</h1>
             <p> We will get back to you with the lattest news .</p>
             <a onclick="subscribeMsg(true)"> <i class="fas fa-horse"></i> Okay! <i class="fas fa-dog"></i></a>
         </div>
     </div>
    

 </section>