<style>
    .header-horse-behavior-and-teaching-psychology {
        display: flex;
    }
</style>

<header class="header-horse-behavior-and-teaching-psychology">
    <div class="title-box">
        <h1>Horse Behavior and Teaching Psychology</h1>
        <h3> Here you have the opportunity to take <span> a full horse training consultant</span></h3>
    </div>
</header>

<section class="top">
    <ul class="breadcrumbs">
        <li><a href="#index">Home</a></li>
        <li><a href="#education-courses">Education & Courses</a></li>
        <li>Horse Behavior and Teaching Psychology</li>
    </ul>
</section>

<section class="grey">
    <div class="grey-wrapper">
        <h3>Learn how to understand your animal</h3>
        <p>At this location we offer trainings for horses at all age. Training for horses
            <br> and training for all horse owners are held on certain appointments. See our <br>
            training plans below.
        </p>
        <h3>Adress</h3>
        <p>Med mindre andet er oplyst, afholdes alle kurser på:<br>
            Center for Dyreterapi, Kringelhøjvej 11 - 12, 9850 Hirtshals.
        </p>
    </div>
    <div class="map-practical">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6576.481426044595!2d9.977511163781916!3d57.57087888165585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4648c907544876f3%3A0x371ac31ed5674fc6!2sKringelh%C3%B8jvej%2011%2C%209850%20Hirtshals!5e0!3m2!1sen!2sdk!4v1591261200801!5m2!1sen!2sdk"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</section>



</section>

<section class="practicalities-wrapper">
    <section class="price">
        <img class="silver" src="/assets/img/big/education-courses/silver-ipad-on-table-946250.jpg">
        <div class="title-box1">
            <div class="course">
                <h3 class="box-image">Theoretical Behavior and <br>
                    Learning Psychology</h3>
                <p>Duration : 4 - 6 weekends <br> <br>
                    Price:<span> 8,800 DKK</span>
                </p>
            </div>
        </div>

    </section>
    <br>
    <br>
    <br>
    <div class="practicalities-txt">
        <h3>What we focus on</h3>
        <p>In this course, we start off with all the basic concepts that come into <br> play quickly and create a lot of
            debate
            and confusion when we talk <br> about what horses are really like. The theory will be supported by <br>
            images
            and video
            clips and plenty of examples.<br>
        </p>

        <h3>The main subjects covered</h3>
        <p>Behavioral biology and horse behavior <span>+written assignment.</span><br>
            Learning Psychology 1 <br>
            Learning Psychology 2 <br>
            Learning Psychology 3 <span>+written assignment.</span>

        </p>

        <h3>Theoretical teaching including the following learning objectives:</h3>
        <p>What is behavior? <br>
            Analysis of various body positions <br>
            Sound Communication <br>
            Pathological behavior <br>
            Aggressiveness <br>

        </p>


        <button type="button">Sign up here</button><br><br>


    </div>


    <section class="price">
        <img class="silver" src="/assets/img/big/education-courses/photo-of-woman-riding-horse-near-tree-2540547.jpg">
        <div class="title-box1">
            <div class="course">
                <h3 class="box-image">Behavioral Biology and <br> Learning Psychology in <br> Theory and Practice</h3>
                <p>Duration : 6 weekends <br> <br>
                    Price:<span> 13,200 DKK</span>
                </p>
            </div>
        </div>

    </section>
    <br>
    <br>
    <br>

    <div class="practicalities-txt">
        <h3>What we focus on</h3>
        <p>In this course, we start off with all the basic concepts that come into <br> play quickly and create a lot of
            debate
            and confusion when we talk <br> about what horses are really like. The theory will be supported by <br>
            images
            and video
            clips and plenty of examples.<br>
        </p>

        <h3>The main subjects covered</h3>
        <p>Behavioral biology and horse behavior <span>+written assignment.</span><br>
            Learning Psychology 1 <br>
            Learning Psychology 2 <br>
            Learning Psychology 3 <span>+written assignment.</span> <br>
            Learning Psychology in Practice 1 <br>
            Learning Psychology in Practice 2 <br>

        </p>

        <h3>Theoretical teaching including the following learning objectives:</h3>
        <p>Condition of the clicker <br>
            Targeting <br>
            To send the horse out on a volte <br>
            Stop Exercises <br>
            Waist front and back from physical pressure
            <br>

        </p>


        <button type="button">Sign up here</button><br><br>


    </div>
</section>

<!-- 
<section class="about-text">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">What we focus on</h3>
        </div>
        <p>
            In this course, we start off with all the basic concepts that come into play quickly and create a lot of
            debate and confusion when we talk about what horses are really like. The theory will be supported by images
            and video clips and plenty of examples.

        </p>
    </div>
</section>


<section class="about-text">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">The main subjects covered</h3>
        </div>
        <h3 class="line"> Behavioral biology and horse behavior <span>+ written assignment</span></h3>
        <h3 class="line"> Learning Psychology 1</h3>
        <h3 class="line"> Learning Psychology 2</h3>
        <h3 class="line">Learning Psychology 3 <span>+ written assignment</span></h3>


    </div>
</section>



<section class="about-text">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">Theoretical teaching including the following learning objectives: </h3>
        </div>
        <h3 class="line"> What is behavior?</h3>
        <h3 class="line"> Analysis of various body positions</h3>
        <h3 class="line"> Sound Communication</h3>
        <h3 class="line">Pathological behavior</h3>
        <h3 class="line">Aggressiveness</h3>
    </div>
    <br>
    <br>
    <br>

    <button type="button">Sign up here</button>
</section>





<section class="price">
    <img class="woman" src="/assets/img/big/education-courses/photo-of-woman-riding-horse-near-tree-2540547.jpg">
    <div class="title-box1">
        <h3>Behavioral Biology and Learning Psychology in Theory and Practice</h3>
        <p>Duration : 6 weekends <br> <br>
            Price:<span> 13,200 DKK</span>
        </p>
    </div>

</section>


<section class="about-text">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">What we focus on</h3>
        </div>
        <p>
            In this course, we start off with all the basic concepts that come into play quickly and create a lot of
            debate and confusion when we talk about what horses are really like. The theory will be supported by images
            and video clips and plenty of examples.

        </p>
    </div>
</section>



<section class="about-text">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">The main subjects covered</h3>
        </div>
        <h3 class="line"> Behavioral biology and horse behavior <span>+ written assignment</span></h3>
        <h3 class="line"> Learning Psychology 1</h3>
        <h3 class="line"> Learning Psychology 2</h3>
        <h3 class="line">Learning Psychology 3 <span>+ written assignment</span></h3>
        <h3 class="line">Learning Psychology in practice 1 </h3>
        <h3 class="line">Learning Psychology in practice 2 </h3>


    </div>
</section>


<section class="about-text">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">Theoretical teaching including the following learning objectives: </h3>
        </div>
        <h3 class="line"> Condition of the clicker</h3>
        <h3 class="line"> Targeting</h3>
        <h3 class="line"> To send the horse out on a volte</h3>
        <h3 class="line">Stop Exercises</h3>
        <h3 class="line">Waist front and back from physical pressure</h3>
    </div>
    <br>
    <br>
    <br>

    <button type="button">Sign up here</button>
</section>

<br>
<br>



<section class="right">
    <div class="about-img1">
        <img src="/assets/img/big/education-courses/Brittine_picture.jpg">
    </div>
    <div class=about-txt>
        <div class="about-name">
            <h2>Instructor</h2>
            <h3>Bettina Hvidemose</h3>
        </div>
        <p>
            If you want a quality course, this is the place. Do not hesitate to contact me
            bettina@dyreterapi.dk tel. 3120 3520

        </p>
    </div>
</section>
<br>
<br> -->