<style>
    .header-horse-behavior-and-teaching-psychology {
        display: flex;
    }
</style>

<header class="header-horse-behavior-and-teaching-psychology">
    <div class="title-box">
        <h1>Horse Behavior and Teaching Psychology</h1>
        <h3> Here you have the opportunity to take <span> a full horse training consultant</span></h3>
    </div>
</header>

<section class="top">
    <ul class="breadcrumbs">
        <li><a href="#index">Home</a></li>
        <li><a href="#education-courses">Education & Courses</a></li>
        <li>Horse Behavior and Teaching Psychology</li>
    </ul>
</section>

<section class="grey">
    <div class="grey-wrapper">
        <h3>Learn how to understand your animal</h3>
        <p>At this location we offer trainings for horses at all age. Training for horses
            <br> and training for all horse owners are held on certain appointments. See our <br>
            training plans below.
        </p>
        <h3>Adress</h3>
        <p>Med mindre andet er oplyst, afholdes alle kurser på:<br>
            Center for Dyreterapi, Kringelhøjvej 11 - 12, 9850 Hirtshals.
        </p>
    </div>
    <div class="map-practical">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6576.481426044595!2d9.977511163781916!3d57.57087888165585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4648c907544876f3%3A0x371ac31ed5674fc6!2sKringelh%C3%B8jvej%2011%2C%209850%20Hirtshals!5e0!3m2!1sen!2sdk!4v1591261200801!5m2!1sen!2sdk"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</section>



</section>

<section class="practicalities-wrapper">
    <section class="price">
        <img class="silver" src="/assets/img/big/education-courses/silver-ipad-on-table-946250.jpg">
        <div class="title-box1">
            <div class="course">
                <h1 class="box-image">Theoretical Behavior and</h1>
                <h1 class="box-image">Learning Psychology</h1><br>
                <p>Duration : 4 - 6 weekends <br>
                    Price:<span> 8,800 DKK</span>
                </p>
            </div>
        </div>

    </section>
    <br>
    <br>
    <br>
    <div class="practicalities-txt">
        <h3>What we focus on</h3>
        <p>In this course, we start off with all the basic concepts that come into <br> play quickly and create a lot of
            debate
            and confusion when we talk <br> about what horses are really like. The theory will be supported by <br>
            images
            and video
            clips and plenty of examples.<br>
        </p>

        <h3>The main subjects covered</h3>


        <ul class="list">
            <li>Behavioral biology and horse behavior <span>+written assignment.</span></li>
            <li>Learning Psychology 1</li>
            <li>Learning Psychology 2</li>
            <li>Learning Psychology 3 <span>+written assignment.</span></li>
        </ul>

        <h3>Theoretical teaching including the following learning objectives:</h3>
        <ul class="list">
            <li>What is behavior?</li>
            <li>Analysis of various body positions</li>
            <li>Sound Communication </li>
            <li>Pathological behavior</li>
            <li>Aggressiveness</li>
        </ul>



        <button  type="button">Sign up here</button><br><br>


    </div>


    <section class="price">
        <img class="silver" src="/assets/img/big/education-courses/photo-of-woman-riding-horse-near-tree-2540547.jpg">
        <div class="title-box1">
            <div class="course">
                <h1 class="box-image">Behavioral Biology and <br> Learning Psychology in Theory and Practice</h1>
                <li></li>
                <br>
                <p>Duration : 6 weekends <br>
                    Price:<span> 13,200 DKK</span>
                </p>
            </div>
        </div>

    </section>
    <br>
    <br>
    <br>

    <div class="practicalities-txt">
        <h3>What we focus on</h3>
        <p>In this course, we start off with all the basic concepts that come into <br> play quickly and create a lot of
            debate
            and confusion when we talk <br> about what horses are really like. The theory will be supported by <br>
            images
            and video
            clips and plenty of examples.<br>
        </p>

        <h3>The main subjects covered</h3>
        <ul class="list">
            <li>Behavioral biology and horse behavior <span>+written assignment.</span></li>
            <li>Learning Psychology 1</li>
            <li>Learning Psychology 2</li>
            <li>Learning Psychology 3</li>
            <li>Learning Psychology in Practice 1</li>
            <li>Learning Psychology in Practice 2</li>
        </ul>


        <h3>Theoretical teaching including the following learning objectives:</h3>
        <ul class="list">
            <li>Condition of the clicker </li>
            <li>Targeting</li>
            <li>To send the horse out on a volte</li>
            <li>Stop Exercises</li>
            <li>Waist front and back from physical pressure</li>
        </ul>


        <button type="button">Sign up here</button><br><br>


    </div>
</section>


<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img  class="round-img" src="/assets/img/small/about/bettina.png">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Bettina Hvidemose</h2>
            <p>Does your animal have behavioral problems? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:bettina@dyreterapi.dk">bettina@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 31 20 35 20</a>
            </div>
        </div>
    </div>
</section>