<style>
    .header-horse-behavior-and-teaching-psychology {
        display: flex;
    }
</style>

<section class="top">
    <ul class="breadcrumbs">
        <li><a href="#index">Home</a></li>
        <li><a href="#education-courses">Education & Courses</a></li>
        <li>Horse Behavior and Teaching Psychology</li>
    </ul>
</section>


<section class="container">
    <div class=about-txt>
        <div class="about-name">
            <h3 class="main-title">Learn how to understand your animal</h3>
        </div>
        <p>
            At this location we offer trainings for dogs at all age. Training for puppies and training for all dog
            owners are held on certain appointments. See our training plans below.
            <br>
            <br>
            <span class="address">Address</span> <br>

        <p>
            Vrå University College, Højskolevej 1, 9760 Vrå</p>

        </p>
    </div>
   
    <div class="about-img">
        <img src="/assets/img/small/about/susanne.png">
    </div>
</section>