<style>
    .header-horse-behavior-and-learning-psychology {
        display: flex;
    }
</style>
<header class="header-horse-behavior-and-learning-psychology">
    <div class="title-box">
        <h1>Horse behavior and Learning Psychology</h1>
        <h3> Here you have the opportunity to get to know horse behavior <span> better</span></h3>
    </div>
</header>

<section class="top">
    <ul class="breadcrumbs">
        <li><a href="#index">Home</a></li>
        <li><a href="#education-courses">Education & Courses</a></li>
        <li>Horse Behavior and Learning Psychology</li>
    </ul>
</section>


<section class="content-wrapper">
    <div class="heading-text">
        <h3 class="main-title dark-red">Learn how to understand your animal</h3>
        <p>
            Don't have the desire or opportunity to take a full horse training consultant, but would you like to learn more about horse behavior, 
            how horses learn (learning psychology) as well as hands-on training from the ground up? Then this is the right course for you! <br>
            There are two versions of the course of behavior and learning:
        </p>
    </div>

</section>


<!-- My grid implemented -->

<div class="training-plan-header horse-behavior" id="plan-1">
    <div class="training-plan-black-box">
        <div class="training-plan-text">
            <h2>Theoretical Behavior and <br> Learning Psychology</h2> 
            <hr>
            <p>Duration: 4-6 weekends</p>
            <p>Price: 8.800 DKK</p>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="training-plan-grid-container" id="horse-behavior-theoretical">
        <div class="plan-focus">
            <div class="focus-heading-text">
                <h3>What we focus on</h3>
                <p>
                    In this course, we start off with all the basic concepts that come into play quickly and create a lot of debate and confusion 
                    when we talk about what horses are really like. The theory will be supported by images and video clips and plenty of examples.
                </p>
            </div>
        </div>
        <div class="plan-schedule">
            
            <div class="list-container">
                <h3>The main subjects covered</h3>
                <ul>
                    <li>Behavioral biology and horse behavior <span class="red">+ written assignment</span> </li>
                    <li>Learning Psychology 1</li>
                    <li>Learning Psychology 2</li>
                    <li>Learning Psychology 3<span class="red">+ written assignment</span></li>
                </ul>
            </div>

            <div class="list-container">
                <h3>Theoretical teaching including the following learning objectives: </h3>
                <ul>
                    <li>What is behavior?</li>
                    <li>Analysis of various body positions</li>
                    <li>Sound Communication</li>
                    <li>Pathological behavior</li>
                    <li>Aggressiveness</li>
                </ul>
            </div>
        </div>
        <div class="plan-sign-up">
            <button>Book your place here</button>
        </div>
    </div>
</div>

<div class="training-plan-header horse-behavior" id="plan-2">
    <div class="training-plan-black-box">
        <div class="training-plan-text">
            <h2>Behavioral Biology and Learning <br> Psychology in Theory and Practice</h2> 
            <hr>
            <p>Duration: 6 weekends</p>
            <p>Price: 13.200 DKK</p>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="training-plan-grid-container" id="horse-behavior-practical">
        <div class="plan-focus">
            <div class="focus-heading-text">
                <h3>What we focus on</h3>
                <p>
                    In this course, we start off with all the basic concepts that come into play quickly and 
                    create a lot of debate and confusion when we talk about what horses are really like. The 
                    theory will be supported by images and video clips and plenty of examples.
                </p>
            </div>
        </div>
        <div class="plan-schedule">
            
            <div class="list-container">
                <h3>The main subjects covered</h3>
                <ul>
                    <li>Behavioral biology and horse behavior <span class="red">+ written assignment</span> </li>
                    <li>Learning Psychology 1</li>
                    <li>Learning Psychology 2</li>
                    <li>Learning Psychology 3<span class="red">+ written assignment</span></li>
                    <li>Learning Psychology in Practice 1</li>
                    <li>Learning Psychology in Practice 2</li>
                </ul>
            </div>

            <div class="list-container">
                <h3>Theoretical teaching including the following learning objectives: </h3>
                <ul>
                    <li>Condition of the clicker</li>
                    <li>Targeting</li>
                    <li>To send the horse out on a volte</li>
                    <li>Stop exercises</li>
                    <li>Waist front and back from physical pressure</li>
                </ul>
            </div>
        </div>
        <div class="plan-sign-up">
            <button>Book your place here</button>
        </div>
    </div>
</div>