<nav class="nav-top">
    <div class="logo">
        <img src="../assets/img/logo.png" alt="Logo image">
    </div>
    <div class="nav-container">

        <ul class="basic-nav">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#practical-info">Practical Info</a></li>
        </ul>

        <ul class="main-nav">

            <li class="dropdown-li">

                <a href="#treatment-and-therapy" class="dropdown-link">Treatment & Therapy
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Treatmend <br> & Therapy</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#treatment-and-therapy" class="category-title">Behavior Therapy</a></li>
                            <li><a href="#therapy-4-dogs">Therapy For Dogs</a></li>
                            <li><a href="#therapy-4-horses">Therapy For Horses</a></li>
                        </ul>
                        
                        <ul class="dropdown-category">
                            <li><a href="#treatment-and-therapy" class="category-title">Physiurgical Therapy</a></li>
                            <li><a href="#therapy-information">Information</a></li>
                            <li><a href="#treadmills-4-dogs">Water Treadmills For Dogs</a></li>
                            <li><a href="#physio-dog-training">Physiotherapeutic Training Dogs</a></li>
                            <li><a href="#physio-horse-training">Physiotherapeutic Training Horses</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#treatment-and-therapy" class="category-title">Bach's Flower Remedies</a></li>
                            <li><a href="#bachs-flower-remedies">Learn More</a></li>

                        </ul>

                    </div>

                </div>

            </li>

            <li class="dropdown-li">

                <a href="#courses" class="dropdown-link">Education & Courses
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Education <br> & Courses</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#education-and-courses" class="category-title">Education</a></li>
                            <li><a href="#physiurgical-dog-therapist">Physiurgical Dog Therapist</a></li>
                            <li><a href="#dog-behavior-instructor">Dog Behavior Instructor</a></li>
                            <li><a href="#horse-training-colsulant">Horse Training Consultant</a></li>
                            <li><a href="#horse-physiurgical-lvl-1">Physiurgical Horse Level 1</a></li>
                            <li><a href="#horse-physiurgical-lvl-2">Physiurgical horse Level 2 - Master Class</a></li>
                            <li><a href="#horses-masseur">Horses Masseur</a></li>

                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#education-and-courses" class="category-title">Courses - For Dogs</a></li>
                            <li><a href="#dog-behaviour-and-teaching-pshycology">Behavior & Teaching Pshycology </a></li>
                            <li><a href="#dog-massage-for-house-needs">Massage For House Needs</a></li>
                            <li><a href="#dog-massage-for-house-needs-online">Massage For House Need (Online)</a></li>
                            <li><a href="#dog-carnio-sacral-therapy">Carnio Sacral Therapy</a></li>

                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#courses-for-dogs" class="category-title category-title">Courses - For Horses</li>
                            <li><a href="#horse-muscular-and-neuromotor-info-day">Info day & workshop on Muscular & Neuromotor</a></li>
                            <li><a href="#horse-anatomy-biomechanics-gymnastization">Anatomy ,Biomechanics & Gymnastization</a></li>
                            <li><a href="#horse-massage-for-house-needs-evening">Massage For House Need (Evening)</a></li>
                            <li><a href="#horse-massage-for-house-needs">Massage For House Need (Day)</a></li>
                            <li><a href="#horse-massage-for-house-needs-online">Massage For House Need (Online)</a></li>
                            <li><a href="#horse-kinesiotaping">Kinesiotaping</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a class="category-title category-title"> - </li>
                            <li><a href="#horse-soft-tissue-mobilization">Soft Tissue Mobilization</a></li>
                            <li><a href="#horse-behavior-&-beaching-pshycology">Behavior & Beaching Pshycology</a></li>
                            <li><a href="#horse-carnio-sacral-therapy">Carnio Sacral Therapy</a></li>
                            <li><a href="#horse-carnio-sacral-therapy-leve-info">Carnio Sacral Therapy - Level info</a></li>
                            <li><a href="#horse-riding-training">Riding training</a></li>
                        </ul>

                    </div>

                </div>

            </li>
            <li class="dropdown-li">

                <a href="#training" class="dropdown-link">Training
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Training</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#training" class="category-title">Dogs</a></li>
                            <li><a href="#training-vra">Training in Vrå</a></li>
                            <li><a href="#training-hirtshals">Training in Hirtshals</a></li>
                            <li><a href="#individual-dog-taining">Individual Dog Training</a></li>
                            <li><a href="#puppies-evening">Puppies Evenings</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#training" class="category-title">Horses</a></li>
                            <li><a href="#individual-horse-training">Individual Horse Training</a></li>
                            <li><a href="#riding-teaching">Riding Teaching</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#training" class="category-title">Nutrition</a></li>
                            <li><a href="#nutrition-therapy">Nutrition Therapy</a></li>
                            <li><a href="#feed-consulting">Feed Consulting</a></li>
                        </ul>

                    </div>

                </div>

            </li>

            <li class="dropdown-li">

                <a href="#shop" class="dropdown-link">Books & Sales
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Books & <br> Sales</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#shop-books">Books</a></li>
                            <li><a href="#shop-training-articles">Training Articles</a></li>
                            <li><a href="#shop-activity-toys">Activity Toys</a></li>
                            <li><a href="#shop-anatomy-models-and-posters">Anatomy Models & Posters</a></li>
                        </ul>

                    </div>

                </div>

            </li>


        </ul>

    </div>

</nav>

<i class="fas fa-angle-up" id="backToTop" onclick="scrollToElement()"></i>
