

<nav class="nav">
    <div>
        LOGO
    </div>
    <ul class="basic-nav">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <ul class="main-nav">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>

    <div>
        <input id="searchBar" type="text" placeholder="Search.." onclick="attachListener()">
        <button id="searchBtn" type="button" onclick="doSearch()"> <i class="fas fa-search"></i> </button>
    </div>

</nav>

