<nav class="nav-top">
    <div class="logo">
       <a href="#home"> <img src="assets/img/logo.png" alt="Logo image"> </a>
    </div>
    <div class="nav-container">

        <ul class="basic-nav">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#practical-info">Practical Info</a></li>
        </ul>

        <ul class="main-nav">

            <li class="dropdown-li">

                <a href="#treatment-and-therapy" class="dropdown-link">Treatment & Therapy
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Treatmend <br> & Therapy</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#treatment-and-therapy" class="category-title">Behavior Therapy</a></li>
                            <li><a href="#therapy-for-dogs">Therapy For Dogs</a></li>
                            <li><a href="#therapy-for-horses">Therapy For Horses</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#treatment-and-therapy" class="category-title">Physiurgical Therapy</a></li>
                            <li><a href="#therapy-information">Information</a></li>
                            <li><a href="#water-treadmills-for-dogs">Water Treadmills For Dogs</a></li>
                            <li><a href="#physiotherapeutic-training-for-dogs">Physiotherapeutic Training Dogs</a></li>
                            <li><a href="#physiotherapeutic-training-for-horses">Physiotherapeutic Training Horses</a>
                            </li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#treatment-and-therapy" class="category-title">Bach's Flower Remedies</a></li>
                            <li><a href="#bachs-flower-remedies">Learn More</a></li>

                        </ul>

                    </div>

                </div>

            </li>

            <li class="dropdown-li">

                <a href="#education-and-courses" class="dropdown-link">Education & Courses
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Education <br> & Courses</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#education-and-courses" class="category-title">Education</a></li>
                            <li><a href="#physiurgical-dog-therapist">*Physiurgical Dog Therapist</a></li>
                            <li><a href="#dog-behavior-instructor">*Dog Behavior Instructor</a></li>
                            <li><a href="#horse-training-colsulant">*Horse Training Consultant</a></li>
                            <li><a href="#physiurgical-horse-therapist">*Physiurgical Horse Therapist</a></li>
                            <li><a href="#physiurgical-horse-therapist-master">*Physiurgical Horse Therapist - Master Class</a></li>
                            <li><a href="#horses-masseur">*Horses Masseur</a></li>
                            <li><a href="#cranio-sacral-therapist-horse">*Cranio Sacral Therapist Horses</a></li>

                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#education-and-courses" class="category-title">Courses - About Dogs</a></li>
                            <li><a href="#dog-behaviour-and-learning-psychology">*Behavior & Learning Psychology </a>
                            </li>
                            <li><a href="#dog-massage-for-house-needs">*Massage For House Needs</a></li>
                            <li><a href="#dog-massage-for-house-needs-online">*Massage For House Need (Online)</a></li>
                            <li><a href="#dog-cranio-sacral-therapy">*Cranio Sacral Therapy</a></li>

                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#education-and-courses" class="category-title">Courses - About Horses</a>
                            </li>
                            <li><a href="#horse-anatomy-biomechanics-gymnastization">*Anatomy, Biomechanics &
                                    Gymnastization</a></li>
                            <li><a href="#horse-massage-for-house-needs">*Massage For House Need</a></li>
                            <li><a href="#horse-massage-for-house-needs-online">*Massage For House Need (Online)</a></li>
                            <li><a href="#horse-kinesiotaping">*Kinesiotaping</a></li>
                            <li><a href="#horse-soft-tissue-mobilization">*Soft Tissue Mobilization</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a class="category-title"> - </a></li>
                            <li><a href="#horse-behavior-&-learning-psychology">Behavior & Learning Psychology</a></li>
                            <li><a href="#horse-cranio-sacral-therapy">*Cranio Sacral Therapy</a></li>
                            <li><a href="#horse-cranio-sacral-therapy-level-info">*Cranio Sacral Therapy - Level info</a></li>
                            <li><a href="#horse-riding-training">*Riding training</a></li>
                            <li><a href="#info-day-and-workshop-horse">*Info Day & Workshop Muscular & Neuromotor</a></li>
                        </ul>

                    </div>

                </div>

            </li>
            <li class="dropdown-li">

                <a href="#training" class="dropdown-link">Training
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Training</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#training" class="category-title">Dogs</a></li>
                            <li><a href="#training-vra">Training in Vrå</a></li>
                            <li><a href="#training-hirtshals">Training in Hirtshals</a></li>
                            <li><a href="#individual-dog-taining">*Individual Dog Training</a></li>
                            <li><a href="#puppies-evening">*Puppies Evenings</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#training" class="category-title">Horses</a></li>
                            <li><a href="#individual-horse-training">*Individual Horse Training</a></li>
                            <li><a href="#riding-teaching">*Riding Teaching</a></li>
                        </ul>

                        <ul class="dropdown-category">
                            <li><a href="#training" class="category-title">Nutrition</a></li>
                            <li><a href="#nutrition-therapy">Nutrition Therapy</a></li>
                            <li><a href="#feed-consulting">Feed Consulting</a></li>
                        </ul>

                    </div>

                </div>

            </li>

            <li class="dropdown-li">

                <a href="#shop" class="dropdown-link">Books & Sales
                    <span><i class="fas fa-angle-down"></i></span></a>

                <div class="dropdown-content-div animation-allow">

                    <h3 class="dropdown-title">Books & <br> Sales</h3>

                    <div class="category-continer">

                        <ul class="dropdown-category">
                            <li><a href="#shop-books">Books</a></li>
                            <li><a href="#shop-training-articles">Training Articles</a></li>
                            <li><a href="#shop-activity-toys">Activity Toys</a></li>
                            <li><a href="#shop-anatomy-models-and-posters">Anatomy Models & Posters</a></li>
                        </ul>

                    </div>

                </div>

            </li>

        </ul>

    </div>

    <div class="burger-icon">
        <span class="center-line" onclick="openBurgerMenu()"></span>
    </div>

    <div class="burger-nav-container" id="burgerScreen">
        <div class="burger-main-wrapper">
            <div class="burger-icon">
                <span class="center-line active" onclick="openBurgerMenu(true)"></span>
            </div>

            <h2>MENU</h2>

            <ul class="burger-main">
                <li onclick="openBurgerMenu(true)"><a href="#treatment-and-therapy">Treatment & Therapy </a></li>
                <li onclick="openBurgerMenu(true)"><a href="#education-and-courses">Education & Courses</a></li>
                <li onclick="openBurgerMenu(true)"><a href="#training">Training</a></li>
                <li onclick="openBurgerMenu(true)"><a href="#shop">Books & Sales</a></li>
            </ul>
        </div>

        <ul class="burger-basic">
            <li onclick="openBurgerMenu(true)"><a href="#home">Home</a></li>
            <li onclick="openBurgerMenu(true)"><a href="#about">About Us</a></li>
            <li onclick="openBurgerMenu(true)"><a href="#contact">Contact</a></li>
            <li onclick="openBurgerMenu(true)"><a href="#practical-info">Practical Info</a></li>
        </ul>
    </div>
</nav>
<div class="overlay"></div>

<i class="fas fa-angle-up" id="backToTop" onclick="scrollToElement()"></i>