<header class="header-nutrition-therapy">
    <div class="title-box">
        <h1>Nutrition Therapy</h1>
        <h3>Proper nutrition is essential for<span class="red">good health</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="#training">Training</a></li>
    <li>Nutrition Therapy</li>
</ul>

<div class="content-wrapper">
    <section class="quote">
        <div>
            <p>
                "It has become increasingly clear how much of a connection there is between what we eat and the quality of life we ​​have. The same goes for our animals."
            </p>
        </div>
    </section>

    <article class="warning-container">
        <h2>Procedures For Sick Animals</h2>
        <p>
            <span class="bold">We are not veterinarians</span> and what we do can by no means replace a visit with the vet. If your horse or dog is ill or shows signs that could 
            potentially be related to illness or other medical conditions, always contact your veterinarian first.If your horse or dog <span class="bold">is on medication</span>, 
            you <span class="red bold">must</span> inform it before any consultation as we do not massage or do any other physical balancing on sick animals
        </p>
    </article>

    <div class="feeding-habits-flex-container">
        <article>
            <h3>The root of nutritional problems</h3>
            <p>
                As a <span class="bold">Veterinary Nutrition Therapist</span> , you work with the knowledge that the body constantly builds, breaks down, excretes and absorbs to ensure that it stays as 
                healthy and healthy as possible. 
            </p>
            <p>
                Bring your <span class="bold">Dogs, Horses</span>  or <span class="bold">Cats</span> and we will take care of your problem. 
            </p>
        </article>
        <img src="/assets/img/medium/nutrition-therapy/potato.jpg">
    </div>

    <article class="list-container">
        <h3>Nutritional therapy can help with</h3>
        <ul>
            <li>Optimal nutrition, vitamins, minerals, fat, protein, carbohydrate distribution, raw materials and their effect</li>
            <li>Supporting for allergy, skin, hooves and fur problems</li>
            <li>Behavioral problems (eg anxiety, stress, over / under energy etc.)</li>
            <li>Support for joints and locomotives</li>
            <li>Supporting digestive and intestinal issues</li>
            <li>Over / underweight</li>
        </ul>
    </article>

    <h2 class="red offer-title">We offer you</h2>
    <div class="feed-cons-title-flex">
        <h4 class="bold">Nutrition Therapy Consultation</h4>
        <p class="bold dark-red">Price: 600 DKK,- </p>
    </div>
    <div class="consultation-offer-container">
    <article>
    <p>
        In case your animal suffers from a specific nutritional problem, our veterinary nutrition therapist is ready to discuss possible treatments with you.
    </p>
    </article>
    <p class="large">To sign up for a personal consultation, contact our Veterinary Nutrition Therapist</p>
    </div>
</div>

<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img  class="round-img" src="/assets/img/small/feed-consulting/renee-sondergaard.jpg">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Renée Sondergaard</h2>
            <h4>Nutrition Therapist</h4>
            <p>Does your animal have problems with nutrition? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:renee@dyreterapi.dk">renee@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 3120 3520</a>
            </div>
        </div>
    </div>
</section>