<header class="header-physiotherapeutic-training-for-horses">
    <div class="title-box">
        <h1>Physiotherapeutic training horses </h1>
        <h3>Take your horse and let us take care of him <span>in the best way</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="#treatment-and-therapy">Treatment & Therapy</a></li>
    <li>Physiurgical Therapy</li>
    <li>Physiotherapeutic training for horses </li>
</ul>

<div class="content-wrapper">

    <div class="heading-text">
        <h3 class="dark-red"> Some more appropriate movement patterns.</h3>
        <p>
            In connection with other Physical therapy, such as Massage and Cranio sacral therapy, 
            we often give the owner physiotherapeutic exercises for the horse, which the equipage must train between we see.
        </p>
        <p>
            These may include, for example, coordination exercises, stretching, flexibility training, (re) training of certain 
            muscle groups, or so-called "proprioceptory training" on other surfaces.
        </p>
    </div>

</div>