<header class="header-physiotherapeutic-training-for-dogs">
    <div class="title-box">
        <h1>Physiotherapeutic training dogs  </h1>
        <h3>Dogs <span class="red">Dogs</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="">Treatment&Therapy</a></li>
    <li>Physiurgical Therapy</li>
    <li>Physiotherapeutic training for dogs </li>
</ul>

<div class="content-wrapper">

    <div class="heading-text">
        <h3 class="dark-red"> Therapy exercises.</h3>
        <p>
            Together with Massage or other Physical therapy, it may be helpful to supplement with physical therapy exercises.
        </p>
        <p>
            This can be, for example, stretching and passive movement of joints, as well as training certain muscle groups and 
            so-called "proprioceptory training", where we strengthen the dog's stabilizing muscles by, for example, training on 
            different implements.
        </p>
        <p>
            We advise and instruct the dog owner in this and would like to lend various tools used for this purpose. The owner 
            himself works with things between the consultations, and we meet continuously and keep track of things going according 
            to plan.
        </p>
    </div>

</div>