<header class="header-practical-info">
    <div class="title-box">
        <h1>Practical Info</h1>
        <h3> Find guidance regarding payment, travels <span>and more</span></h3>
    </div>
</header>


<section class="top-practical">
    <ul class="breadcrumbs">
        <li><a href=#home>Home</a></li>
        <li>Practical Info</li>
    </ul>
</section>

<section class="sub-title">
    <div class="sub-title-txt">
        <h2>Time & Location</h2>
    </div>
</section>

<section class="grey">
    <div class="grey-wrapper">
        <h3>when</h3>
        <p>Mødetid er som udgangspunkt kl. 10 - 17 på modulets første dag og <br>
            kl. 9 - 16 på modulets anden dag med mindre andet er oplyst eller aftalt.
        </p>
        <h3>where</h3>
        <p>Med mindre andet er oplyst, afholdes alle kurser på:<br>
            Center for Dyreterapi, Kringelhøjvej 11 - 12, 9850 Hirtshals.
        </p>
    </div>
    <div class="map-practical">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6576.481426044595!2d9.977511163781916!3d57.57087888165585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4648c907544876f3%3A0x371ac31ed5674fc6!2sKringelh%C3%B8jvej%2011%2C%209850%20Hirtshals!5e0!3m2!1sen!2sdk!4v1591261200801!5m2!1sen!2sdk"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</section>

<section class="white">

    <div class="facilities-img">
        <img src="/assets/img/small/practical_info/building(s).png">
        <img src="/assets/img/small/practical_info/big-class-room(s).png">
    </div>

    <div class="white-wrapper">
        <h3>facilities</h3>
        <div class="facilites-txt">
            <p>
                Vi har undervisningslokale både på nr. 11 og nr. 12, så det oplyses fra gang til gang hvilket lokale I
                skal
                være i.
                Vores faciliteter til de praktiske kurser ligger på Kringelhøjvej 11. Her har vi ridehal, stalde samt
                folde
                til de heste, som kommer på kursus - alle med mindre løsdriftfaciliterer.
                <br>
                <br>
                Desuden foregår de fleste praktiske hundekurser også i hallen, samt på vores hundetræningsbane, som
                ligger
                lige ved siden af.
                Det koster ikke ekstra at medbringe sin hest eller hund til kurserne.
                Boks og/eller foldplads er inkluderet i prisen.
            </p>
        </div>
    </div>
</section>

<section class="practicalities-wrapper">
    <div class="sub-title">
        <div class="sub-title-txt">
            <h2>Practicalities</h2>
        </div>
    </div>

  <div class="practicalities-txt">
        <h3>Payment information</h3>
        <p>Alle gebyrer for enkeltstående kurser betales senest 14 dage før kurset, og refunderes ikke. Tilmelding til
            enkeltstående kurser er økonomisk bindende.<br>

            Gebyrer for hestetræningskonsulent, hundeadfærdsinstruktør, fysiurgisk hesteterapeut, hundefysioterapi og
            adfærdskonsulent betales som udgangspunkt i 3 tre rater, og refunderes ikke. Ønsker du af en eller anden
            grund ikke
            at fortsætte dit forløb, kan du springe fra uden at betale eventuelle efterfølgende rater - forudsat at
            uddannelsen
            er påbegyndt og første rate er betalt.
            Første rate falder en måned inden opstart - næste rate falder 1/3 inde i forløbet og sidste rate 2/3 inde i
            forløbet. Man betaler således 1/3 forud af gangen.<br>

            Betaling i mindre rater eller anden form for afdragsordning er mulig for følgende forløb:
            Hundeadfærdsintruktør,
            Hestetræningskonsulent, Dyreadfærdskonsulent og Fysiurgisk Hesteterapeut.
            <p>Kontakt Bettina på
                <br> bettina@dyreterapi.dk
                <br>eller tlf. 31 20 35 20 for nærmere info.</p>
            <p>
                Man kan til en hver tid springe fra et påbegyndt forløb uden at hæfte for fremtidige betalinger -
                naturligvis
                forudsat at første rate er betalt. Allerede indbetalte beløb refunderes aldrig.
                Tilmelder du dig et forløb, koster det et frameldingsgebyr på kr 2000, hvis du alligevel ikke ønsker at
                deltage
                (altså hvis du trækker din tilmelding tilbage inden opstart og betaling af første rate).
                <br>Ønsker du at uddanne dig til både hestetræningskonsulent og hundeadfærdsinstruktør, giver vi 50 % rabat
                på
                prisen for hundeadfærdsinstruktøruddannelsen.
                <br>Ønsker du at uddanne dig til både hestetræningskonsulent og fysiurgisk hesteterapeut gives 35 % på
                fysiurgisk hesteterapeut.
                For alle forløb gives der 10 % rabat, hvis hele beløbet betales forud.
                Adfærdskonsulentuddannelsen er en 2-årig overbygning, der kræver, at du har gennemført
                hundeadfærdsinstruktør
                og/eller hestevelfærdsrådgiver, eller tilsvarende.
                <p>OBS. Hvis et kursus aflyses af os, får deltagere 100 % refuderet deres indbetalte gebyr for kurset. Hvis
                en
                deltager har betalt for kursus eller uddannelsesforløb og bliver forhindret i at deltage, refunderes
                pengene under
                ingen omstændigheder, men beløbet bliver stående som et tilgodehavende hos Center for Dyreterapi og kan
                når som
                helst bruges til deltagelse på senere kurser og/eller uddannelsesforløb eller bruges til køb af bøger
                eller andet
                i vores butik.
            </p>

            <h3>Absence</h3>
            <p>
                Vi får ofte spørgsmål til hvad vi gør, hvis en elev får glip af et eller flere moduler i et forløb. Som
                udgangspunkt
                må man maks have 20 % fravær på et forløb for at gå til eksamen. På de teoretiske kurser, hvor det er
                muligt, filmer
                vi undervisningen og sender filmen til den/de elever som ikke har deltaget.. Sammen med filmen kan
                eleven
                læse op og
                har selvfølgelig mulighed for at stille spørgsmål. <br>OBS - dette er ikke muligt på alle kurser, spørg fra
                gang til gang! Hvis fraværsprocenten overstiger 20 %, snakker vi med elever om muligheden for at færdigggøre
                uddannelsen
                sammen med næste hold, eller finde en individuel løsning.
                <p>Hvad sker der hvis jeg dumper en eksamen hos jer?</p>
                <p>Reeksamination (op til to gange) er gratis og ligeledes er det gratis at gentage kurser fra forløbet
                inden
                reeksamination, hvis det er relevant. Du kan komme til gratis reeksamination to gange, forudsat at vi
                fastsætter
                datoer og krav om eventuel gentagelse af kurser. Hvis du selv vil bestemme datoer, kan der opkræves
                ekstra
                for dette
                (mod individuel aftale), baseret på de ekstraudgifter, som måtte optræde hos os. Efter anden gratis
                reeksamination
                kan vi stille krav om ekstraundervisning eller gentagelse af kurser mod betaling, ligesom tredje
                reeksamination vil
                koste kr. 2000,- forudsat at vi fastlægger dato eller kr. 5000,- hvis du ønsker en anden dato.
            </p>

            <h3>Accommodation</h3>
            <p>Kommer du langvejs fra?
                Det er ikke noget problem! Vi har studerende fra hele landet, og ofte også fra Norge, Tyskland og
                Sverige.
                Vi tilbyder ikke overnatning hos Center for Dyreterapi, men da Hirtshals jo i høj grad er en turistby,
                er der mange gode muligheder tæt på. Vi har forhandlet os til ekstra gode tilbud til jer hos følgende
                overnatningsudbydere:

                <p> Fint, ændre privat B&B med fælles bad og toilet:
                    <a href="https://www.toppenafdanmark.dk/toppen-af-danmark/se-oplev/skraenten-13-privat-vaerelse-gdk1107455">Skraenten 13-privat vaerelse</a>
                    <br>Første overnatning i enkeltværelse koster kr. 200,- og der er mulighed for lavere prisen ved gentagne reservationer.
                </p>

                <p> Simpelt, ældre, privat B&B med fælles bad og toilet:
                    <a href="http://www.visithirtshals.dk/lene-pedersen-privat-vaerelse-gdk595023">Lene Pedersen-privat vaerelse</a> 
                    <br>5 minutters kørsel fra vores
                    undervisningsfaciliteter. <br>
                    Prisen ligger på kun kr. 150,- pr. nat. 
                    <br>OBS. Er er det vigtigt at oplyse
                    det, hvis man ønsker enkeltværelse, da udlejer kan finde på at dele værelser mellem flere personer, hvis der
                    er høj belægning.</p>

                <p> B&B by the Sea: Flot og meget professionelt B&B også kun 5 minutter fra vores faciliteter. 
                    <br> <a href="https://www.bbhirtshals.com/">Her</a> findes flere
                    muligheder, kontakt os for at få tilsendt rabatprisliste gældende for vores elever.
                    </p>

                <p>20 minutters kørsel fra os findes <a href="http://sengogmorgenmad.dk/">Seng og Morgenmad</a> ,som tilbyder overnatning i eget værelse
                    med
                    eget bad og toilet til kun kr. 300,- Her er lidt mere køretid, men til gengæld får man rigtig meget
                    for pengene.</p>

                <p>I alle tilfælde gælder det, at vi blot har forhandlet os til gode priser til jer og/eller henviser
                    til stedet fordi vi har gode erfaringer med det, men vi har ikke noget at gøre med booking m.m. I skal altså kontakte
                    overnatningsstederne direkte for nærmere info samt reservation af værelser.
                    <br>Vær OBS på at priserne i de fleste tilfælde er noget billigere for jer end for andre, derfor er det
                    vigtigt, at I
                    oplyser, at I er elever hos Center for Dyreterapi, når I booker.
                    Ønsker I noget helt andet, kan I naturligvis søge på overnatning i Hirtshals – så kommer der masser
                    af
                    muligheder
                    frem.
                </p>

                <h3>Transport</h3>
                <p> De som kommer langvejs fra arrangerer ofte kørsel sammen.
                    Har du/I ikke mulighed for at komme hertil i bil, er det alligevel let. Hirtshalstoget, som kører
                        fra Hjørring,
                        stopper på stationen "Emmersbæk" ca. 5 minutters gang fra vores faciliteter. Du kan tage tog til
                        Hjørring fra hele landet.
                    <br>Kommer du fra Københavnsområdet et det let og billigt at tage fly fra København (vi anbefaler
                        Norwegian,
                        som har de billigste priser) til Aalborg og tage toget derfra.
                    <br>Kommer du fra Norge, er det let at tage færgen her til Hirtshals fra Larvik eller Kristiansand
                        (Color
                        Line) eller fra Langelund, Stavanger eller Bergen (Fjordline) eller du kan tage fly til Aalborg.
                        Desuden bor i bare 30
                        minutters kørsel fra Frederikshavn, hvor båden fra Oslo ligger til.
                    <br>Kommer du fra Sverige, går båden fra Göteborg direkte til Frederikshavn, som er 30 minutters
                        kørsel fra
                        os - eller du kan tage fly til Aalborg.
                    </p>

                    <h3>Other</h3>
                    <p>
                        Til det praktiske arbejde med hest og/eller hund, kræver vi, at du har det samme dyr til
                        rådighed under hele forløbet. Du behøver ikke at eje dyret eller medbringe det til kurser, men skal kunne træne med
                        det flere gange ugenligt.
                        Det er ikke et krav, men en anbefaling, at du medbringer det dyr du træner med til de praktiske
                        kurser.
                        <br>Priser og indhold vedr de forskellige kurser og forløb oplyses, når du klikker dig ind på det
                        konkrete kursus eller forløb.
                        <br>Du er altid velkommen til at kontakte os, hvis du har brug for yderligere informationer!
                    </p>
    </div>
</section>