<style>
    header {
        height: 60vh;
        z-index: -5;
        background-image: url(../assets/img/big/practical_info/practical_hero.png);
        background-position: top center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        padding-bottom: calc(2 * var(--margin-h-big));
    }
</style>

<header>
    <div class="title-box">
        <h1>Practical Info</h1>
        <h3>Find guidance regarding payment, travels and more</h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="index.html">Home</a></li>
    <li>Practical info</li>
</ul>