<header class="header-shop">
    <div class="title-box">
        <h1>Books & Sales</h1>
        <h3> Here we have products for <span>you and your pet</span></h3>
    </div>

</header>

<ul class="breadcrumbs">
    <li><a href=#home>home</a></li>
    <li>Privacy policy</li>
</ul>


<nav class="shop-nav">
    <ul>
        <li><a href="#shop-books">Books</a></li>
        <li><a href="#shop-articles">Training Articles</a></li>
        <li><a href="#shop-toys">Activity Toys</a></li>
        <li><a href="#shop-anatomy">Anatomy Models & Posters</a></li>
    </ul>
</nav>

<div class="shop-page">
    <div class="category-title">
        <h2>Books</h2> 
        <hr>
    </div>

    <div class="cards-container" id="nutrition">

        <div class="card">
            <a href="#nutrition-therapy">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_nutrition-therapy.jpg">
                    <img src="/assets/img/small/training/cat_nutrition-therapy.jpg" alt="Category image for nutrition therapy.">
                </picture>
                <div class="content">
                    <h4>Nutrition Therapy</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#feed-consulting">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_feed-con.jpg">
                    <img src="/assets/img/small/training/cat_feed-con.jpg" alt="Category image for feed consulting.">
                </picture>
                <div class="content">
                    <h4>Feed Consulting</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="shop-info">
     <div class="basic">
         <hr>
        <ul>
            <li><i class="far fa-clock"></i>We ship within 3 business days</li>
            <li><i class="fas fa-box-open"></i>Free delivery over 1000,-</li>
            <li><i class="fas fa-desktop"></i>14 days returned </li>
        </ul>
        <hr> 
     </div>

     <div class="payment-cards">
        <img src="/assets/img/small/shop/master-card.jpg" alt="Master card icon">
        <img src="/assets/img/small/shop/visa-card.jpg" alt="Visa card icon">

     </div>
</div>