<header class="header-therapy-for-dogs">
    <div class="title-box">
        <h1>Therapy for Dogs</h1>
        <h3>No problems are the same, so we always look at the<span> animals individually</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="">Treatment&Therapy</a></li>
    <li>Behavior Therapy</li>
    <li>Therapy for Dogs</li>
</ul>

<div class="content-wrapper">
    <div class="heading-text">
        <h3 class="dark-red bold">We offer our help and support for you dog problems.</h3>
        <p>
            Occasionally, it can be difficult for dogs to function in our man-made world. We have adapted everyday life to the wishes 
            and needs of people, but it does not necessarily suit the dogs. They have the drives and instincts, they are herd animals, 
            they can get stressed and they communicate completely differently than we do. 
        </p>
        <p>
            Thus, much of the unwanted behavior that we call <span class="bold">problem behavior </span>is really natural behavior for dogs, it just does not fit 
            when the dogs have to work with us in a daily life. Other causes include bad experiences - including shock, lack of or 
            inappropriate embossing or socialization.
        </p>
    </div>
    <div class="list-container">
        <h3>Examples of reasons that may trigger behavior problem</h3>
        <ul>
            <li>anxiety</li>
            <li>aggression</li>
            <li>home problems alone</li>
            <li>stress</li>
            <li>hyperactivity</li>
            <li>general exercise problems</li>
        </ul>
    </div>
    <div class="heading-text">
        <h3 class="dark-red">We set aside 1.5 hours for a behavior consultation
        </h3>
        <p>
            In some cases, we supplement the Training Program with treatment with a trip to the vet, Bach's Flower Remedies, supplements 
            or physical balancing if this proves to be the basis for this.
        </p>
    </div>

        <h4 class="bold border-top cons-title">Behavioral Consultation</h4>
    <div class="therapy-prices-container">
        <article>
            <h2>Prices</h2>
            <div class="prices">
                    <div class="prices-flex-container">
                        <div>
                            <p> 1.5 hours</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">975 DKK,-</p>
                        </div>
                    </div>
                    <div class="prices-flex-container">
                        <div>
                            <p> 1 hours (per person. hour + driving)</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">700 NOK,-</p>
                        </div>
                    </div>
                    <div class="prices-flex-container">
                        <div>
                            <p> Written summary of the consultation in 2 - 3 pages (if needed)</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">additional 500 DKK,-</p>
                        </div>
                    </div>
            </div>
        </article>
        <p class="large">The payment is settled after the consultation, either in cash or with mobile payments.</p>
    </div>
</div>

<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img  class="round-img" src="/assets/img/small/therapy-for-dogs/bettina.jpg">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Bettina Hvidemose</h2>
            <p>Does your animal have behavioral problems? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:bettina@dyreterapi.dk">bettina@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 31 20 35 20</a>
            </div>
        </div>
    </div>
</section>
