<header class="header-therapy-for-horses">
    <div class="title-box">
        <h1>Therapy for Horses</h1>
        <h3>An individually tailored training program for<span class="red"> each animal</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="#treatment-and-therapy">Treatment & Therapy</a></li>
    <li>Therapy for Horses</li>
</ul>

<div class="content-wrapper">
    <div class="heading-text">
        <h3 class="dark-red">We offer our help and support for your horse's problems.</h3>
        <p>
            Most often, the problem behavior of horses is completely naïve behavior, which is unfortunately unhelpful in our domestic horses. 
        </p>
        <p>
            We know that the horses are a prey, with which anxiety and escape reactions are equal in many situations, thus these are among the most common behavioral problems in horses. 
        </p>
        <p>
            I clarify, guide and teach the owner, and take the first practical steps with the horse, but the training itself, ultimately aimed at diminishing or completely wiping out 
            the problem behavior (depending on the owner's ambitions and options), is primarily the owner to take take care of. 
        </p>
        <p>
            The length of a training session is individual from problem to problem. In some cases, it is enough to change small routines in daily life, while in other cases intensive 
            training is needed several times a week over extended periods. During the course of the training, I can be contacted freely on Mail or Telephone. 
        </p>
    </div>
    <div class="list-container">
        <h3>Examples of reasons that may trigger behavior problem</h3>
        <ul>
            <li>stress</li>
            <li>stereotypical behavior</li>
            <li>aggressiveness</li>
            <li>handling problems</li>
            <li>trailer loading</li>
        </ul>
    </div>
    <div class="heading-text">
        <h3 class="dark-red">We set aside 1.5 hours for a behavior consultation
        </h3>
        <p>
            In some cases, we supplement the Training Program with treatment with a trip to the vet, Bach's Flower Remedies, supplements 
            or physical balancing if this proves to be the basis for this.
        </p>
    </div>

        <h4 class="bold border-top cons-title">Behavioral Consultation</h4>
    <div class="therapy-prices-container">
        <article>
            <h2>Prices</h2>
            <div class="prices">
                    <div class="prices-flex-container">
                        <div>
                            <p> 1.5 hours</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">975 DKK,-</p>
                        </div>
                    </div>
                    <div class="prices-flex-container">
                        <div>
                            <p> 1 hours (per person. hour + driving)</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">700 NOK,-</p>
                        </div>
                    </div>
                    <div class="prices-flex-container">
                        <div>
                            <p> Written summary of the consultation in 2 - 3 pages (if needed)</p>
                        </div>
                        <div>
                            <p class="dark-red large bold">additional 500 DKK,-</p>
                        </div>
                    </div>
            </div>
        </article>
        <p class="large">The payment is settled after the consultation, either in cash or with mobile payments.</p>
    </div>
</div>

<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img  class="round-img" src="/assets/img/small/therapy-for-dogs/bettina.jpg">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Bettina Hvidemose</h2>
            <p>Does your animal have behavioral problems? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:bettina@dyreterapi.dk">bettina@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 31 20 35 20</a>
            </div>
        </div>
    </div>
</section>