<header class="header-treatment-and-therapy">
    <div class="title-box">
        <h1>Physiurgical Therapy Information</h1>
        <h3>Your pet will thank you later if you choose to <span>come to us</span></h3>
    </div>
</header>


<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="#treatment-and-therapy">Treatment & Therapy</a></li>
    <li>Physiurgical Therapy Information</li>
</ul>

<div class="content-wrapper">

    <div class="heading-text">
        <h3 class="dark-red">Behavioral problems  cannot be ignored </h3>
        <p>
            Many behavioral and training problems, in both dogs and horses, arise from muscle or joint problems. It can be anything from less muscle tension 
            to reduced joint mobility. In addition to this, pain in all shadows can cause problems or changes in the animal's behavioral and reaction pattern. 
        </p>
        <p>
            Physical surgical therapy for horses and dogs is performed by Majken, Susanne and Bettina. We each have our specialty so you and your animal will 
            meet the one of us who can best help you and your animal. 
        </p>
    </div>

    <article class="list-container">
        <h3>In addition to behavioral symptoms of physical problems, we often see examples of horses and dogs</h3>
        <ul>
            <li>not going righ</li>
            <li>acting "stiff"</li>
            <li>have a "bad side"</li>
            <li>dysplasia</li>
            <li>suffered an injury</li>
        </ul>
    </article>

    <article class="list-container">
        <h3>Physical therapy with us covers a combination of several physiotherapy techniques: </h3>
        <ul>
            <li>
                <div class="dropdown-content-box">
                    <h4>Massage</h4>
                    <div><i class="fas fa-angle-down" onclick="openCategory(massageDesc, event)"></i></div> 
                </div>
                <div id="massageDesc" class="dropdown-content-text">
                    <p>
                        When working with physical therapy, we never use a therapy form alone. We combine the various tools and thus adapt the techniques to fit 
                        your horse or dog optimally.
                    </p>
                    <p>
                        The massage techniques we use are based on "Intelligent Touch" and the traditional Swedish massage. In addition to this we use trigger 
                        points, stress points, special massage, pressure points and pain points.

                    </p>
                    <p>
                        In addition, we are inspired by "holistic massage" for people, where we look at the different muscles from a viewpoint of traditional 
                        Chinese medicine.
                    </p>
                    <p>
                        With this technique we can increase blood circulation ,  increase elasticity of muscles, tendons and ligaments and together prevents 
                        injury and promotes performance
                    </p>
                </div>
            </li>
            <li>
                <div class="dropdown-content-box">
                    <h4>Cranio Sacral Therapy</h4>
                    <div><i class="fas fa-angle-down" onclick="openCategory(krSacTherapyDesc, event)"></i></div> 
                </div>
                <div id="krSacTherapyDesc" class="dropdown-content-text">
                    <p>
                        is a gentle influence on the animal's body, which is gradually known, widely used and recognized when it comes to treating humans. In 
                        recent years, however, more and more have also caught the eye of how effective this balancing form is for animals.This techniques can 
                        be performed on the entire body. They are gentle, do not hurt, but are often very effective.
                    </p>
                    <p>
                        We work with gentle stretches and pressures that relax the bones in relation to each other, thus also the muscles, as well as the cero 
                        spinal fluid and the meninges
                    </p>
                    <p>
                        We use KST to balance problems in the moving device, muscle tension , problems in bone and muscle system. 
                    </p>
                </div>
            </li>
            <li>
                <div class="dropdown-content-box">
                    <h4>Joint mobilization</h4>
                    <div><i class="fas fa-angle-down" onclick="openCategory(jointMobDesc, event)"></i></div> 
                </div>
                <div id="jointMobDesc" class="dropdown-content-text">
                    <p>
                        We work with gentle techniques, not harmful ones, and are happy to refer to a veterinarian or a chiropractor who has a different and 
                        deeper education than ours if there is a suspicion of problems that require different examination or more powerful techniques.
                    </p>
                    <p>
                        Many muscle tensions come from imbalances and impaired movement of the animal's joints. This can be about all joints in the body, 
                        but the joints we can typically affect are in the hip, pelvis, back, loins and neck area.
                    </p>
                    <p>
                        Joint mobilization is always supplemented with massage and also with KST to relax related muscles.
                    </p>
                    <p>
                        If the massage is not sufficient, other aids, such as the influence of laser acupuncture points, may be included in the balancing.
                    </p>
                </div>
            </li>
            <li>
                <div class="dropdown-content-box">
                    <h4>Laser  Therapy</h4>
                    <div><i class="fas fa-angle-down" onclick="openCategory(laserTherapyDesc, event)"></i></div> 
                </div>
                <div id="laserTherapyDesc" class="dropdown-content-text">
                    <p>
                        At Center for Animal Therapy we have two types of laser equipment for horses and dogs. Laser therapy works by sending a special type 
                        of light into the cells. When the laser light hits the cells that are not working optimally, the body optimizes its own cleansing 
                        and healing process.
                    </p>
                    <p>
                        We know that the laser light penetrates deep into the cells it strikes. The cells transform the light into ATP, which acts as energy 
                        for the cells, thereby getting more energy to perform their work - for example, a healing process in connection with a wound, 
                        cleansing a muscle or reducing inflammation in a joint.
                    </p>
                    <p>
                        Laser has several beneficial properties - pain-reducing, increases blood flow, stimulates drainage, relaxing effect on muscles. 
                    </p>
                    <p>
                        We have the latest technology in laser equipment. A powerful Class IV laser from LightCure, which can be set specifically for 
                        your dog or horse. Furthermore, we have a smaller Class 3B laser from PowerMedic for several superficial problems.
                    </p>
                </div>
            </li>
            <li>
                <div class="dropdown-content-box">
                    <h4>Thermography</h4>
                    <div><i class="fas fa-angle-down" onclick="openCategory(thermographyDesc, event)"></i></div> 
                </div>
                <div id="thermographyDesc" class="dropdown-content-text">
                    <p>
                        We offer thermographic check of your horse or dog in connection with physical therapy.
                    </p>
                    <p>
                        Before we can begin to address any physical challenges, it <span class="red">is important</span>  to deal specifically with the imbalances in the body. 
                        This is usually done through a combination of gait analysis, motion test and palpation.In some cases, the x-ray or scan - 
                        <span class="red">referral to a veterinarian</span> is needed before we know for sure what is wrong
                    </p>
                    <p>
                        Thermography is a relatively new technology where we can take a picture of the animal with a special heat sensitive camera. Heat fluctuations around 
                        joints, muscles or specific areas may indicate that something is not as it should be.
                    </p>
                </div>
            </li>
        </ul>
    </article>

    <p class="large">Please, contact Bettina for more information.</p>

</div>

<section class="staff-section">
    <div class="staff-flex-container">
        <div>
            <img  class="round-img" src="/assets/img/small/therapy-for-dogs/bettina.jpg">
        </div>
        <div class="staff-desc">
            <h2 class="dark-red bold">Bettina Hvidemose</h2>
            <p>Does your animal have behavioral problems? - Do not hesitate to contact me</p>
            <div class="staff-contact-flex">
                <a href="mailto:bettina@dyreterapi.dk">bettina@dyreterapi.dk</a>
                <a href="callto:3120 3520">tel. 31 20 35 20</a>
            </div>
        </div>
    </div>
</section>