<style>
    .header-training {
        display: flex;
    }
</style>


<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li>Training</li>
</ul>

<div class="category-page">

    <div class="category-title">
        <h2>For Dogs</h2>
        <hr>
    </div>

    <div class="cards-container">


        <div class="card animation-allow">
            <a href="#training-vra">
                <img src="/assets/img/big/training/cat_train-vra.jpg" alt="Category image for training in Vra">
                <div class="content animation-allow">
                    <h4>Training in Vrå</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course </p>
                </div>
            </a>
        </div>

        <div class="card animation-allow">
            <a href="#training-hirtshals">
                <img src="/assets/img/big/training/cat_train-hirtshals.jpg" alt="Category image for training in Hirtshals">
                <div class="content animation-allow">
                    <h4>Training in Hirtshals</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card animation-allow">
            <a href="#puppies-evening">
                <img src="/assets/img/big/training/cat_pup-eve.jpg" alt="Category image for puppies evenings.">
                <div class="content animation-allow">
                    <h4>Puppies Evenings</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                        Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card animation-allow">
            <a href="#individual-dog-taining">
                <img src="/assets/img/big/training/cat_indi-dog-train.jpg" alt="Category image for individual dog training.">
                <div class="content animation-allow">
                    <h4>Individual <br>
                        Dog Taining</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title">
        <h2>For Horses</h2>
        <hr>
    </div>

    <div class="cards-container">

        <div class="card animation-allow">
            <a href="#individual-horse-training">
                <img src="/assets/img/big/training/cat_indi-horse-training.jpg" alt="Category image for individual horse training.">
                <div class="content animation-allow">
                    <h4>Individual Horse Training</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card animation-allow">
            <a href="#riding-teaching">
                <img src="/assets/img/big/training/cat_riding-teaching.jpg" alt="Category image for Riding Teaching">
                <div class="content animation-allow">
                    <h4>Riding Teaching</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title">
        <h2>Nutritions</h2>
        <hr>
    </div>

    <div class="cards-container">

        <div class="card animation-allow">
            <a href="#nutrition-therapy">
                <img src="/assets/img/big/training/cat_nut-terapy.jpg" alt="Category image for nutrition therapy.">
                <div class="content animation-allow">
                    <h4>Training in Vrå</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card animation-allow">
            <a href="#feed-consulting">
                <img src="/assets/img/big/training/cat_feed-con.jpg" alt="Category image for feed consulting.">
                <div class="content animation-allow">
                    <h4>Training in Vrå</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>