<header class="header-training-hirtshals">
    <div class="title-box">
        <h1>Training in Hirtshals</h1>
        <h3> For little, big, young, old - <span>owners and dogs.</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="#training">Training</a></li>
    <li>Training in Hirtshals</li>
</ul>

<div class="content-wrapper training-cities">
    <div class="training-address-flex">
        <div class="training-address-text">
            <h3 class="dark-red">Training for all dogs</h3>
            <p>At this location we offer trainings for dogs at all age. Training for puppies and training for all dog owners are held 
                on certain appointments. See our training plans below.
            </p>
            <h3 class="address-flex-item dark-red">Address</h3>
            <p>
                 Center for Animal Therapy, Kringelhøjvej 11A, 9850 Hirtshals
            </p>
        </div>
        <div class="map-training-cities">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8558.439129609686!2d9.986170380022896!3d57.570090899297014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a4f5ef4fdf1563!2sCenter%20for%20Animal%20Therapy!5e0!3m2!1sen!2sdk!4v1591700284423!5m2!1sen!2sdk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
        </div>
    </div>
</div>
    
    <div class="training-plan-header hirtshals" id="plan-1">
        <div class="training-plan-black-box">
            <div class="training-plan-text">
                <h2>Puppies Team Training</h2> 
                <hr>
                <p>Number of meetings: 7 in total</p>
                <p>Price: 750 DKK</p>
                <p>Max. 8 puppies per team</p>
            </div>
        </div>
    </div>

    <div class="content-wrapper training-cities">
        <div class="training-plan-grid-container">
            <div class="plan-focus">
                <div class="focus-heading-text">
                    <h3>What we focus on</h3>
                    <p>
                        The purpose of this team is to lay a good foundation for cooperation and understanding between dog and owner. Our excellent dog behaviour 
                        instructor makes sure that your puppy learns the proper disciplines and becomes a great partner of yours. 
                    </p>
                </div>
            </div>
            <div class="plan-schedule">
                <h3>Schedule</h3>
                <div class="schedule-text">
                    <h3 class="bold">First meeting</h3>
                    <p>The first meeting is Wednesday, June 17, at. 18.00 where there is theory (without dog), the following 6 times are practical.</p>
                </div>
                <div class="schedule-text">
                    <h3 class="bold">6 following meetings</h3>
                    <p>Practical teaching including the following tasks:</p>
                </div>
                <div class="schedule-list">
                    <ul>
                        <li>Socialization / puppy play</li>
                        <li>Sit</li>
                        <li>Tire</li>
                        <li>Yes No</li>
                        <li>Invitation</li>
                        <li>Handling</li>
                        <li>Space</li>
                        <li>Walk nicely on a leash</li>
                        <li>Contact</li>
                        <li>Socialization trip to the city</li>
                    </ul>
                </div>
            </div>
            <div class="plan-program">
                <div class="program-title">
                    <h4>Program</h4>
                    <p>All meetings are held on <span class="bold">Wednesdays</span> at <span class="bold"> 6PM - 7PM.</span></p>
                </div>
                <div class="appointment-container">
                    <div class="appointment-theoretical">
                        <h5 class="bold">Theoretical classes</h5>
                        <div class="appointment-flex-box">
                            <div>
                                <h6>June 17</h6>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-practical">
                        <h5 class="bold">Practical classes</h5>
                        <div class="appointment-flex-box">
                            <div>
                                <h6>June 24</h6>
                            </div>
                            <div>
                                <h6>July 1</h6>
                            </div>
                            <div>
                                <h6>July 8</h6>
                            </div>
                            <div>
                                <h6>July 29</h6>
                            </div>
                            <div>
                                <h6>Aug 5</h6>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-social">
                        <h5 class="bold">Completion and socialization trip to the city</h5>
                        <div class="appointment-flex-box">
                            <div>
                                <h6>Aug 12</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plan-sign-up">
                <button>Book your place here</button>
            </div>
        </div>
    </div>
    
    <div class="training-plan-header hirtshals" id="plan-2">
        <div class="training-plan-black-box">
            <div class="training-plan-text">
                <h2>Training For All</h2> 
                <hr>
                <p>Number of meetings: 6 in total</p>
                <p>Price: 695 DKK</p>
                <p>Max. 8 dogs per team</p>
            </div>
        </div>
    </div>

    <div class="content-wrapper training-cities">
        <div class="training-plan-grid-container">
            <div class="plan-focus">
                <div class="focus-heading-text">
                    <h3>What we focus on</h3>
                    <p>
                        On the team there is room for everyone who wants to go for training with their dog. The focus will be on cooperation between the dog and the owner. 
                    </p>
                </div>
            </div>
            <div class="plan-schedule">
                <h3>Exercises</h3>
                <div class="schedule-text">
                   <p>
                       We offer obedience exercises and solving training problems based on positive training principles. We also work with the exercises go nicely on a leash, 
                    call and the good contact.In addition, dedicated time will be set for individual problems, wishes and ideas.
                    </p>
                </div>
            </div>
            <div class="plan-program">
                <div class="program-title">
                    <h4>Program</h4>
                    <p>All meetings are held on <span class="bold">Mondays</span> <span class="bold">5PM - 6PM.</span></p>
                </div>
                <div class="appointment-container">
                    <div class="appointment-practical">
                        <h5 class="bold">Practical classes</h5>
                        <div class="appointment-flex-box">
                            <div>
                                <h6>May25</h6>
                            </div>
                            <div>
                                <h6>June 1</h6>
                            </div>
                            <div>
                                <h6>June 8</h6>
                            </div>
                            <div>
                                <h6>June 15</h6>
                            </div>
                            <div>
                                <h6>June 22</h6>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-social">
                        <h5 class="bold">Completion with training in Hirtshals town</h5>
                        <div class="appointment-flex-box">
                            <div>
                                <h6>July 29</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plan-sign-up">
                <button>Book your place here</button>
            </div>
        </div>
    </div>


    <section class="staff-section">
        <div class="staff-flex-container">
            <div>
                <img  class="round-img" src="/assets/img/small/feed-consulting/renee-sondergaard.jpg">
            </div>
            <div class="staff-desc">
                <h2 class="dark-red bold">Renée Sondergaard</h2>
                <h4>Instructor</h4>
                <p>If you want a quality course, this is the place. - Do not hesitate to contact me</p>
                <div class="staff-contact-flex">
                    <a href="mailto:renee@dyreterapi.dk">renee@dyreterapi.dk</a>
                    <a href="callto:3120 3520">tel. 3120 3520</a>
                </div>
            </div>
        </div>
    </section>