<header class="header-training">
    <div class="title-box">
        <h1>Training</h1>
        <h3> Training and nutritional advice for you and <span>your companion</span></h3>
    </div>
</header>


<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li>Training</li>
</ul>

<div class="category-page">

    <div class="category-title">
        <div>
            <h2>For Dogs</h2> <i class="fas fa-angle-down" onclick="openCategory(forDogs, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="forDogs">


        <div class="card">
            <a href="#training-vra">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_train-vra.jpg">
                    <img src="/assets/img/small/training/cat_train-vra.jpg" alt="Category image for training in Vra">
                </picture>

                <div class="content">
                    <h4>Training in Vrå</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#training-hirtshals">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_train-hirtshals.jpg">
                    <img src="/assets/img/small/training/cat_train-hirtshals.jpg"
                        alt="Category image for training in Hirtshals">
                </picture>
                <div class="content">
                    <h4>Training in Hirtshals</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#puppies-evening">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_puppies-evening.jpg">
                    <img src="/assets/img/small/training/cat_puppies-evening.jpg"
                        alt="Category image for puppies evenings.">
                </picture>
                <div class="content">
                    <h4>Puppies Evenings</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                        Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#individual-dog-taining">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_indi-dog-train.jpg">
                    <img src="/assets/img/small/training/cat_indi-dog-train.jpg"
                        alt="Category image for individual dog training.">
                </picture>
                <div class="content">
                    <h4>Individual <br>
                        Dog Training</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title">
        <div>
            <h2>For Horses</h2> <i class="fas fa-angle-down" onclick="openCategory(forHorses, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="forHorses">

        <div class="card">
            <a href="#individual-horse-training">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_indi-horse-training.jpg">
                    <img src="/assets/img/small/training/cat_indi-horse-training.jpg" alt="Category image for individual horse training.">
                </picture>
                <div class="content">
                    <h4>Individual Horse Training</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#riding-teaching">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_riding-teaching.jpg">
                    <img src="/assets/img/small/training/cat_riding-teaching.jpg" alt="Category image for Riding Teaching">
                </picture>
                <div class="content">
                    <h4>Riding Teaching</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title open">
        <div>
            <h2>Nutritions</h2> <i class="fas fa-angle-down" onclick="openCategory(nutrition, event)"></i>
        </div>
        <hr>
    </div>

    <div class="cards-container" id="nutrition">

        <div class="card">
            <a href="#nutrition-therapy">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_nutrition-therapy.jpg">
                    <img src="/assets/img/small/training/cat_nutrition-therapy.jpg" alt="Category image for nutrition therapy.">
                </picture>
                <div class="content">
                    <h4>Nutrition Therapy</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#feed-consulting">
                <picture>
                    <source media="(min-width:576px)" srcset="/assets/img/medium/training/cat_feed-con.jpg">
                    <img src="/assets/img/small/training/cat_feed-con.jpg" alt="Category image for feed consulting.">
                </picture>
                <div class="content">
                    <h4>Feed Consulting</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>