<header class="header-training">
    <div class="title-box">
        <h1>Training</h1>
        <h3> Training and nutritional advice for you and <span>your companion</span></h3>
    </div>
</header>


<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li>Training</li>
</ul>

<div class="category-page">

    <div class="category-title" id="">
        <h2>For Dogs</h2>
        <hr>
    </div>

    <div class="cards-container">


        <div class="card">
            <a href="#training-vra">
                <img src="/assets/img/medium/training/cat_train-vra.jpg" alt="Category image for training in Vra">
                <div class="content">
                    <h4>Training in Vrå</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#training-hirtshals">
                <img src="/assets/img/medium/training/cat_train-hirtshals.jpg" alt="Category image for training in Hirtshals">
                <div class="content">
                    <h4>Training in Hirtshals</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#puppies-evening">
                <img src="/assets/img/medium/training/cat_puppies-evening.jpg" alt="Category image for puppies evenings.">
                <div class="content">
                    <h4>Puppies Evenings</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                        Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#individual-dog-taining">
                <img src="/assets/img/medium/training/cat_indi-dog-train.jpg" alt="Category image for individual dog training.">
                <div class="content">
                    <h4>Individual <br>
                        Dog Training</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title">
        <h2>For Horses</h2>
        <hr>
    </div>

    <div class="cards-container">

        <div class="card">
            <a href="#individual-horse-training">
                <img src="/assets/img/medium/training/cat_indi-horse-training.jpg" alt="Category image for individual horse training.">
                <div class="content">
                    <h4>Individual Horse Training</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#riding-teaching">
                <img src="/assets/img/medium/training/cat_riding-teaching.jpg" alt="Category image for Riding Teaching">
                <div class="content">
                    <h4>Riding Teaching</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title">
        <h2>Nutritions</h2>
        <hr>
    </div>

    <div class="cards-container">

        <div class="card">
            <a href="#nutrition-therapy">
                <img src="/assets/img/medium/training/cat_nutrition-therapy.jpg" alt="Category image for nutrition therapy.">
                <div class="content">
                    <h4>Nutrition Therapy</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#feed-consulting">
                <img src="/assets/img/medium/training/cat_feed-con.jpg" alt="Category image for feed consulting.">
                <div class="content">
                    <h4>Feed Consulting</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>