<header class="header-treatment-and-therapy">
    <div class="title-box">
        <h1>Treatment & Therapy</h1>
        <h3> Your animal  really <span>deserve it</span></h3>
    </div>
</header>


<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li>Treatment & Therapy</li>
</ul>

<div class="warning">

    <h2 class="red bold">Procedures For Sick Animals</h2>
    <p><span class="bold">We are not veterinarians</span> and what we do can by no means replace a visit with the vet.
        If your horse or dog is ill or shows signs that could potentially be related to illness or other medical
        conditions, always contact your veterinarian first.
        If your horse or dog is <span class="bold">on medication</span>, you <span class="red bold">must</span> inform
        it before any consultation as we do not massage or do any other physical balancing on sick animals</p>

</div>
<div class="category-page">

    <div class="category-title">
        <div><h2>Behavior Therapy</h2><i class="fas fa-angle-down" onclick="openCategory(behaviorTherapy, event)"></i></div>
        <hr>
    </div>

    <div class="cards-container" id="behaviorTherapy">

        <div class="card">
            <a href="#therapy-for-dogs">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_therapy-for-dogs.jpg">
                <img src="/assets/img/small/treatment-and-therapy/cat_therapy-for-dogs.jpg"
                    alt="Category image for Dogs Therapy">
                    </picture>
                <div class="content">
                    <h4>Therapy For Dogs</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#therapy-for-horses">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_therapy-for-horses.jpg">
                <img src="/assets/img/small/treatment-and-therapy/cat_therapy-for-horses.jpg"
                    alt="Category image for Horses Therapy"></picture>
                <div class="content">
                    <h4>Therapy For Horses</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                        Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="category-title">
        <div><h2>Physiurgical Therapy</h2><i class="fas fa-angle-down" onclick="openCategory(physiurgicalTherapy, event)"></i></div>
        <hr>
    </div>

    <div class="cards-container" id="physiurgicalTherapy">

        <div class="card">
            <a href="#therapy-information">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_physiurgical-therapy-dog-horse.jpg">
                    <img src="/assets/img/small/treatment-and-therapy/cat_physiurgical-therapy-dog-horse.jpg"
                        alt="Category image for Physiurgical Therapy Dogs and Horse">
                </picture>
                <div class="content">
                    <h4>Physiurgical Therapy <br> For Dogs and Horse</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#water-treadmills-for-dogs">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_water-treadmills-for-dogs.jpg">
                    <img src="/assets/img/small/treatment-and-therapy/cat_water-treadmills-for-dogs.jpg"
                        alt="Category image Water Treadmills for Dogs.">
                </picture>
                <div class="content">
                    <h4>Water Treadmills for Dogs</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#physiotherapeutic-training-for-dogs">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_physiotherapeutic-training-dogs.jpg">
                    <img src="/assets/img/small/treatment-and-therapy/cat_physiotherapeutic-training-dogs.jpg"
                        alt="Category image for Physiotherapeutic dog training.">
                </picture>
                <div class="content">
                    <h4>Physiotherapeutic <br> Training Dogs </h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="#physiotherapeutic-training-for-horses">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_physiotherapeutic-training-horses.jpg">
                <img src="/assets/img/small/treatment-and-therapy/cat_physiotherapeutic-training-horses.jpg"
                    alt="Category image for Physiotherapeutic horses training.">
                <div class="content">
                    <h4>Physiotherapeutic <br> Training Horses</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="category-title">
        <div><h2>Bach's Flower Remedies</h2><i class="fas fa-angle-down" onclick="openCategory(flowerRemedies, event)"></i></div>
        <hr>
    </div>

    <div class="cards-container" id="flowerRemedies">


        <div class="card">
            <a href="#bachs-flower-remedies">
                <picture>
                    <source media="(min-width:576px)"
                        srcset="/assets/img/medium/treatment-and-therapy/cat_bachs-flower-remedies.jpg">
                <img src="/assets/img/small/treatment-and-therapy/cat_bachs-flower-remedies.jpg"
                    alt="Category image for Bach's Flower Remedies.">
                    </picture>
                <div class="content">
                    <h4>Bach's Flower Remedies</h4>
                    <p>Short description of this course, short description of this course,short description of this
                        course
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>