<header class="header-water-treadmills-for-dogs">
    <div class="title-box">
        <h1>Water treadmills for dogs</h1>
        <h3>Pets enjoy many advantages from <span class="red"> warmth of the water</span></h3>
    </div>
</header>

<ul class="breadcrumbs">
    <li><a href="#home">Home</a></li>
    <li><a href="#treatment-and-therapy">Treatment & Therapy</a></li>
    <li>Water treadmills for dogs</li>
</ul>

<div class="content-wrapper">

    <div class="heading-text">
        <h3 class="dark-red">Running on treadmills , a gentle method for you pet.</h3>
        <p>
            This method is used to strength training and rehabilitation. The treadmill provides a proper impact on the joints and back, 
            while also lifting and supporting the water to minimize the strain on joints and back.
        </p>
    </div>

    <div class="list-container">
        <h3>Examples of issues where Bach's Flower Media may be relevant.</h3>
        <ul>
            <li>rehabilitation by nerve damage</li>
            <li>ledoperationer</li>
            <li>strength training for osteorathritis</li>
            <li>fitness</li>
            <li>weight loss</li>
            <li>tense and sore muscles</li>
        </ul>
    </div>
    <div class="heading-text">
        <h3 class="dark-red">Practical</h3>
        <p>
            Training on treadmills takes place at the Center for Animal Therapy, Kringelhøjvej 11a, 9850 Hirtshals 
        </p>
        <p>
            Often we combine training on treadmills with Laser therapy, Massage or other Physiotherapy - in which case individual offers are agreed.
        </p>
    </div>

</div>
