.top-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-h-big);
}

.summary-txt {
    width: 45%;
    text-align: center;
    color: #8D8484;
    font-family: var(--text-secondary);
    font-size: 1.25vw;
    margin-top: var(--margin-h-big);
    margin-bottom: var(--margin-h-big);
    line-height: 4vh;
}


.summary-txt h3 {
    color: var(--text-gray);
}

.right {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60vh;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--section-bg-color);
    align-items: center;
}

.left,
.right {
    display: flex;
    justify-content: center;
}

.left .about-wrapper,
.right .about-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5rem;
    justify-content: space-evenly;
}

.right .about-txt {
    padding-left: 0;
}

.about-txt {
    padding: 5rem;
    width: 35rem;
}

.about-name h2 {
    font-size: 4vh;
    font-family: var(--text-secondary);
    color: var(--heading-color);
    margin-bottom: var(--margin-h-medium);
}

.about-txt p {
    font-family: var(--text-secondary);
    color: var(--text-gray);
    line-height: 2;
}



#readMoreBtn {
    color: var(--button-gold);
    text-transform: uppercase;

}

.more {
    display: block;
    visibility: hidden;
    max-height: 0;
    color: transparent;
    transition: all .3s ease-in-out;
}

.more.visible {
    visibility: visible;
    height: auto;
    max-height: 400px;
    display: contents;
    color: var(--text-gray);
    transition: all .3s ease-in-out;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .about-wrapper {
        flex-wrap: wrap;
    }

    .right .about-txt {
        order: 2;
    }

    .right .about-img {
        order: 1;
    }

    .left .about-txt {
        padding-left: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .left .about-txt,
    .right .about-txt {
        display: inline-block;
        padding: 2rem;
    }
}