.top {
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary {
    width: 50%;
    text-align: center;
    color: #8D8484;
    font-family: var(--text-secondary);
    font-size: 1.25vw;
    margin-top: var(--margin-h-big);
    margin-bottom: var(--margin-h-big);
    line-height: 4vh;
}

.right{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--section-bg-color);
    align-items: center;
}

.left{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about-img{
    width: 33.333%;
}

.about-txt{
    width: 25%;
}

.left .about-txt{
    margin-right: var(--margin-w-big);
}

.about-name h2 {
    font-size: 4vh;
    font-family: var(--text-secondary);
    color: var(--heading-color);
    margin-top: var(--margin-h-big);
    margin-bottom: var(--margin-h-big);
}
.about-txt p{
font-family: var(--text-secondary);
color: var(--text-gray);
line-height: 4vh;
}

.read_more_inner_link {
color: var(--button-gold);
text-transform: uppercase;
}

   

