.container input[type=text],
.newsletter input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container input:focus,
.container textarea:focus {
    outline: none !important;
    border: 1px solid rgb(136, 136, 136);
}

.container button,
.contact-popup div a,
.home-form button {
    background-color: var(--button-gold);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

.container button:hover,
.contact-popup div a:hover,
.home-form button:hover {
    background-color: var(--button-gold-hover);
}

.container {
    display: flex;
    justify-content: center;

}

.container .column {
    display: flex;
    flex-direction: column;
    padding: var(--margin-h-medium) var(--margin-w-medium);
}

.container .column p>span {
    font-size: larger;
    font-weight: bolder;
    color: var(--heading-color2);
}

.container .column p {
    margin-bottom: var(--margin-h-big);
}

.container .column ul li span {
    font-weight: var(--text-bold);
}

.container .column ul li {
    list-style-type: none;
    line-height: 3;
}

.container .column ul .smaller {
    line-height: 1.5;
}

.container .column:last-child {
    width: 35%;
}

.contact-popup {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
}

.contact-popup.show {
    display: flex;
    opacity: 1;
}


.contact-popup {
    display: none;
    background-color: var(--dark-opacity-box);
}

.contact-popup div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-darker-bg-color);
    padding: 2rem;
    color: black;
    box-shadow: -8px 0px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-popup div h1 {
    font-size: 2rem;
}

.contact-popup div p {
    margin: 1rem 0;
}

.contact-popup div i {
    color: var(--section-darker-bg-color);
    margin: 5px;
}

.contact-popup div .fa-horse {
    transform: scale(-1, 1);
}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .container .column:last-child {
        width: 45%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 0 3rem;
    }

    .container .column:last-child {
        width: 100%;
    }

}

/* Small devices (landscape phones, 375px and up) */
@media (max-width: 375px) {
    .container {
        flex-direction: column;
        margin: 0;
    }
}