
  :root {
    /* Main colors */
    --main-bg-color: #ffffff;
    --section-bg-color: #F6F6F6;
    --section-darker-bg-color:#EAEAEA;
    --footer-bg-color:#752129;
    
    /* Font styling */
    --text-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-secondary: 'Lato', sans-serif;
    --heading-color: #C22333;
    --text-on-bg: #272020;
    --text-on-dark: white;
    --text-gray:#8D8484;
    --text-bold: bold;
    --text-normal: normal;
    --text-thin: lighter;
    --h1: 3vw;
    --h2: 2vw;
    --h3: 1.5vw;
    
  
    /* Opacity boxes */
    --dark-opacity-box: rgba(0, 0, 0, 0.40);
    --light-opacity-box: rgba(255, 255, 255, 0.70);
  
    /* Gaps,Spaces,Margins */
    --small-gap:.2rem;
    --medium-gap: .5rem;
    --big-gap:1rem;
  
    --margin-h-small:1vh;
    --margin-h-medium:2vh;
    --margin-h-big:5vh;
  
    --margin-w-small:1vh;
    --margin-w-medium:2vh;
    --margin-w-big:5vh;
  
    /* Appointment, Trainers-Teachers */
    --sidebar-box-bg: rgba(117, 115, 45, 0.20);
    
    /* Buttons, call to actions, links */
    --button-gold: #BEA166;
    --button-red: #752129;
    --link-underline:#752129;
  }
  



.title-line{
    width: 122px;  
    border: 2px solid var(  --link-underline);
    
}

.title h2 {
    font-size: var(--h2);
    margin: var(--margin-h-small) 0;
    color: var(  --link-underline);
    
}


.title {
    
    padding-left: var(--margin-h-big);
}


.card-image {
    display: block;
    
}

.card-image > img {
    display: block;
    
    opacity: 0; 
}


.card {
    display: inline-block;
    /* width:50%; */
    /* max-width: 20rem; */
    margin: var(--margin-w-small);
    overflow: hidden;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    flex: 1 0 21%;
    margin: 0 auto;
    text-align: justify;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    display: block;
    padding: 1em 2em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 1em;
}

.card-description > p {
    margin: 0;
}

.card-list {
    margin:   var(--margin-h-big) ;
}

