.content-wrapper {
    width: 90%;
    margin: 0 auto;
}
.bold {
    font-weight: var(--text-bold);
}
.red {
    color: #C22333;
}
.dark-red {
    color: #752129;
}
.large {
    font-size: var(--h3);
}

.quote {
    width: 70%;
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
}
.quote p {
    font-size: 1.5rem;
}
/*Procedures for sick animals*/
.warning-container {
    width: 70%;
    margin-bottom: 6rem;
}
.warning-container h2 {
    color: var(--heading-color);
    padding: 1rem 0;
}
.warning-container p {
    font-size: 1.4rem;
    line-height: 2;
}

/*Healthy feeding habits flex box*/
.feeding-habits-flex-container {
    display: flex;
    margin: var(--margin-h-big) 0;
}
.feeding-habits-flex-container article {
    padding: 2rem 2rem 2rem 0;
}
.feeding-habits-flex-container h3 {
    color: var(--heading-color2);
}
.feeding-habits-flex-container p {
    font-size: 1.4rem;
    margin: 3rem 0;
    line-height: 2;
}
.feeding-habits-flex-container img {
    width: 50%;
    height: auto;
    align-self: flex-start;
}

/*Feeding problems list*/
.list-container {
    margin: var(--margin-h-big);
}
.list-container h3 {
    color: var(--heading-color2);
    margin: var(--margin-h-medium) 0;
}
.list-container ul {
    line-height: 3;
}
.list-container ul li {
    font-size: 1.4rem;
    list-style-type: none;
}
.list-container ul li::before {
    content: '';
    display: inline-flex;
    height: 25px;
    width: 40px;
    margin: 0 2rem;
    align-items: center;
    background-image: url('/assets/img/list-line.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/*Feed consultation offer*/
.offer-title {
    margin-bottom: var(--margin-h-medium);
}
.feed-cons-title-flex {
    border-top: solid 3px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.feed-cons-title-flex h4 {
    font-size: 2rem;
}
.feed-cons-title-flex p {
    font-size: 2rem;
}

/*Desciption*/
.consultation-offer-container {
    width: 60%;
}
.consultation-offer-container article{
    line-height: 2;
}
.consultation-offer-container article p{
    font-size: 1.4rem;
    margin: var(--margin-h-medium) 0;
}
.consultation-offer-container article p a {
    color: red;
}

/*Staff*/
.staff-section {
    background-color: var(--section-darker-bg-color);
    margin: var(--margin-h-big) 0
}
.staff-flex-container {
    display: flex;
    padding: 5vh 3vw
}

.round-img {
    object-fit: cover;
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    margin: 0 var(--margin-h-big);
}

.staff-desc > *{
    margin: var(--margin-h-medium) 0;
}
.staff-desc p {
    font-size: 1.4rem;
}
.staff-contact-flex {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.staff-contact-flex a {
    color: black;
    font-size: 1.4rem;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .feeding-habits-flex-container article {
        padding: 0 2rem 0 0;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .quote {
        width: 100%;
    }
    .warning-container {
        width: 90%;
    }
    .feeding-habits-flex-container {
        flex-direction: column;
    }
    .feeding-habits-flex-container img {
        width: 100%;
    }
    .consultation-offer-container {
        width: 100%;
    }
    .staff-contact-flex {
        flex-direction: column;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .staff-flex-container {
        flex-direction: column;
        text-align: center;
    }
    .round-img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0;
    }
    .staff-desc h4 {
        font-size: 2rem;
    }
    .staff-contact-flex {
        width: 100%;
    }
    .staff-contact-flex a {
        font-size: 2rem;
        padding: 0.5rem;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .quote {
        padding: 5rem 0;
    }
    .feed-cons-title-flex {
        flex-direction: column;
    }
    .feed-cons-title-flex > * {
        padding: 1rem 0;
    }
    .feed-cons-title-flex h4 {
        font-size: 2.5rem;
    }
    .list-container {
        margin: 3rem 0;
    }
    .content-wrapper p{
        font-size: 1.8rem;
    }
    .content-wrapper h2 {
        font-size: 2.5rem;
    }
    .content-wrapper h3 {
        font-size: 2.3rem;
    }
    .list-container ul li {
        font-size: 1.8rem;
    }
    .consultation-offer-container article p{
        font-size: 1.8rem;
    }
    .consultation-offer-container p{
        font-size: 2.3rem;
    }
    .staff-desc p {
        font-size: 1.8rem;
    }
 }