header {
    height: 60vh;
    z-index: 1;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: calc(2 * var(--margin-h-big));
}

header span {
    color: #FA061E;
    font-weight: var(--text-bold);
}

.header-home {
    background-image: url(/assets/img/big/home/home-page-hero.jpeg);
    height: 100vh;
    display: flex;
    position: relative;
}

.header-home .scroll-sign {
    position: absolute;
    z-index: 50;
    left: 50%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    bottom: 0;
    transform: translate(-50%, 50%);


}

.header-home .scroll-sign i {
    position: relative;
    animation: scrollDown 1s infinite;
    font-size: 1.5rem;
    margin: 5px;
}

@keyframes scrollDown {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -5px;
    }

    100% {
        bottom: 0;
    }
}

.header-about-us {
    background-image: url(/assets/img/big/about/team.jpg);
}

.header-practical-info {
    background-image: url(/assets/img/big/practical_info/practical_hero.png);
}

.header-training-vra {
    background-image: url(/assets/img/big/training-vra/training-vra-header.jpg);
}

.header-education-courses {
    background-image: url(/assets/img/big/education-courses/hero-education.jpg);
}

.header-horse-behavior-and-teaching-psychology {
    background-image: url(/assets/img/big/education-courses/horse-behavior-and-teaching-phycology.jpg);
}

.header-training {
    background-image: url(/assets/img/big/training/training-header.jpg);
}

.header-contact {
    background-image: url(/assets/img/big/contact/contact-us-header.jpg);
}

.header-treatment-and-therapy {
    background-image: url(/assets/img/big/treatment-and-therapy/treatment-and-therapy-header.jpg);
}

.header-therapy-for-dogs {
    background-image: url(/assets/img/big/therapy-for-dogs/therapy-for-dogs-header.jpg);
}

.header-therapy-for-horses {
    background-image: url(/assets/img/big/therapy-for-horses/therapy-for-horses-header.jpg);
}

.header-water-treadmills-for-dogs {
    background-image: url(/assets/img/big/water-treadmills-for-dogs/water-treadmil-for-dogs-header.jpg);
}

.header-physiotherapeutic-training-for-horses {
    background-image: url(/assets/img/big/physiotherapeutic-training-horses/physiotherapeutic-training-horses-header.jpg);
}

.header-physiotherapeutic-training-for-dogs {
    background-image: url(/assets/img/big/physiotherapeutic-training-dogs/physiotherapeutic-training-dogs-header.jpg);
}

.header-feed-consulting {
    background-image: url(/assets/img/big/feed-consulting/feed-consulting-header.jpg);
}

.header-nutrition-therapy {
    background-image: url(/assets/img/big/nutrition-therapy/nutrition-therapy-header.png);
}

.header-privacy-policy {
    background-image: url(/assets/img/big/privacy_policy/privacy-policy.png);
}

.header-404-page {
    height: 20rem;
}

.title-box {
    background-color: var(--dark-opacity-box);
    color: var(--text-on-dark);
    padding: 0 var(--margin-h-big);
}

.title-box h1 {
    margin-top: var(--margin-h-medium);
    font-family: var(--text-primary);
    font-size: var(--h1);
    font-weight: var(--text-bold);
}

.title-box h3 {
    font-family: var(--text-primary);
    margin-bottom: var(--margin-h-medium);
    font-size: var(--h3);
    font-weight: var(--text-thin);
    color: var(--text-on-dark);

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    header {
        padding-bottom: 0;
    }

    .title-box {
        width: 100%;
    }


}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    header {
        height: 60vh;
        padding-bottom: 0;
    }


    .title-box h1 {
        font-size: 2rem;
    }

    .title-box h3 {
        font-size: 1.2rem;
    }

    .header-about-us {
        background-image: url(/assets/img/small/about/team.png);
    }

    .header-training-vra {
        background-image: url(/assets/img/small/training-vra/training-vra-header.jpg);
    }

    .header-training {
        background-image: url(/assets/img/small/training/training-header.jpg);
    }

    .header-contact {
        background-image: url(/assets/img/small/contact/contact-us-header.jpg);

    }

    .header-treatment-and-therapy {
        background-image: url(/assets/img/small/treatment-and-therapy/treatment-and-therapy-header.jpg);

    }

    .header-therapy-for-dogs {
        background-image: url(/assets/img/small/therapy-for-dogs/therapy-for-dogs-header.jpg);
    }

    .header-therapy-for-horses {
        background-image: url(/assets/img/small/therapy-for-horses/therapy-for-horses-header.jpg);
    }

    .header-water-treadmills-for-dogs {
        background-image: url(/assets/img/small/water-treadmil-for-dogs/water-treadmil-for-dogs-header.jpg);
    }

    .header-physiotherapeutic-training-for-horses {
        background-image: url(/assets/img/small/physiotherapeutic-training-horses/physiotherapeutic-training-horses-header.jpg);
    }

    .header-physiotherapeutic-training-for-dogs {
        background-image: url(/assets/img/small/physiotherapeutic-training-dogs/physiotherapeutic-training-dogs-header.jpg);
    }

    .header-feed-consulting {
        background-image: url(/assets/img/small/feed-consulting/feed-consulting-header.jpg);
    }

    .header-nutrition-therapy {
        background-image: url(/assets/img/small/nutrition-therapy/nutrition-therapy-header.png);
    }
}