header{
    height: 60vh;
    z-index: -5;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: calc(2 * var(--margin-h-big));
}

header span{
    color: var(--heading-color);
    font-weight: var(--text-bold);
}

.header-about-us{
    background-image: url(/assets/img/big/about/team.jpg);
}

.header-training-vra{
    background-image: url(/assets/img/big/training-vra/training-vra-header.jpg);
}

.header-training{
    background-image: url(/assets/img/big/training/training-header.jpg);
}

.header-contact{
    background-image: url(/assets/img/big/contact/contact-us-header.jpg);
}

.header-treatment-and-therapy{
    background-image: url(/assets/img/big/treatment-and-therapy/treatment-and-therapy-header.jpg);
}

.header-404-page {
    height: 20rem;
}

.title-box {
    background-color: var(--dark-opacity-box);
    color: var(--text-on-dark);
    padding: 0 var(--margin-h-big);
}

.title-box h1 {
    margin-top: var(--margin-h-medium);
    font-family: var(--text-primary);
    font-size: var(--h1);
    font-weight: var(--text-bold);
}

.title-box h3 {
    font-family: var(--text-primary);
    margin-bottom: var(--margin-h-medium);
    font-size: var(--h3);
    font-weight: var(--text-thin);
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    header{
        padding-bottom: 0;
    }
    .title-box {
        width: 100%;
    }


 }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    header{
        height: 60vh;
        padding-bottom: 0;
    }
    
    .header-about-us{
        background-image: url(/assets/img/small/about/team.png);
    }
    
    .header-training-vra{
        background-image: url(/assets/img/small/training-vra/training-vra-header.jpg);
    }
    
    .header-training{
        background-image: url(/assets/img/small/training/training-header.jpg);
    }
    
    .header-contact{
        background-image: url(/assets/img/small/contact/contact-us-header.jpg);
        
    }
    .header-treatment-and-therapy{
        background-image: url(/assets/img/small/treatment-and-therapy/treatment-and-therapy-header.jpg);
        
    }
 }