:root {
    /* Main colors */
    --main-bg-color: #ffffff;
    --section-bg-color: #F6F6F6;
    --section-darker-bg-color: #EAEAEA;
    --footer-bg-color: #752129;

    /* Font styling */
    --text-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-secondary: 'Lato', sans-serif;
    --heading-color: #C22333;
    --text-on-bg: #272020;
    --text-on-dark: white;
    --text-gray: #8D8484;
    --text-bold: bold;
    --text-normal: normal;
    --text-thin: lighter;
    --h1: 3vw;
    --h2: 2vw;
    --h3: 1.5vw;


    /* Opacity boxes */
    --dark-opacity-box: rgba(0, 0, 0, 0.40);
    --light-opacity-box: rgba(255, 255, 255, 0.70);

    /* Gaps,Spaces,Margins */
    --small-gap: .2rem;
    --medium-gap: .5rem;
    --big-gap: 1rem;

    --margin-h-small: 1vh;
    --margin-h-medium: 2vh;
    --margin-h-big: 5vh;

    --margin-w-small: 1vh;
    --margin-w-medium: 2vh;
    --margin-w-big: 5vh;

    /* Appointment, Trainers-Teachers */
    --sidebar-box-bg: rgba(117, 115, 45, 0.20);

    /* Buttons, call to actions, links */
    --button-gold: #BEA166;
    --button-red: #752129;
    --link-underline: #752129;
}







.price {
    position: relative;
    text-align: center;
    color: white;
}

.title-box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50.4%);
    background-color: var(--dark-opacity-box);
    color: var(--text-on-dark);
    padding: 0 var(--margin-h-big);
}


.silver {

    width: 100%;
}

.woman {

    width: 100%;
}




.title-box1 {
    width: 50%;
    height: 99.5%;
}

.course {
    margin-right: 0vh;
    margin-left: 15vh;
    margin-top: 12vh;
    text-align: left;
}


.course p {
    font-size: var(--h3);
}


.box-image h1 {
    font-size: var(--h1);
    text-align: left;
   
  
}


.practicalities-txt {
    width: 70%;
}

.practicalities-txt h3 {
    font-family: var(--text-secondary);
    color: var(--heading-color);
    text-transform: capitalize;
    margin-bottom: var(--margin-h-medium);
    font-size: 1.25vw;
}

.practicalities-txt p {
    font-family: var(--text-secondary);
    color: var(--text-gray);
    margin-bottom: var(--margin-h-big);
    line-height: 4vh;
}

.practicalities-wrapper {
    background-color: var(--section-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-h-big);
}

.practicalities-wrapper h2 {
    margin-top: var(--margin-h-big);
}



.grey {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--section-bg-color);
}

.grey-wrapper {
    display: flex;
    flex-direction: column;
}

.grey h3 {
    font-family: var(--text-secondary);
    color: var(--heading-color);
    text-transform: capitalize;
    margin-bottom: var(--margin-h-medium);
    font-size: 1.25vw;
}


.grey-wrapper p {
    font-family: var(--text-secondary);
    color: var(--text-gray);
    margin-bottom: var(--margin-h-big);
    line-height: 4vh;
}

.price {
    position: relative;
    text-align: center;
    color: white;
}

.title-box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    background-color: var(--dark-opacity-box);
    color: var(--text-on-dark);
    padding: 0 var(--margin-h-big);
}


.ipad {

    max-width: 95%;
    max-height: 99.5%;
}

.practicalities-txt .list {
    list-style-type: none;
    line-height: 2;
    font-family: var(--text-secondary);
    color: var(--text-gray);
    margin-bottom: var(--margin-h-big);
    line-height: 4vh;

}


.practicalities-txt li:before {
    background-color: var(--footer-bg-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15px;
}

.practicalities-txt li:before {
    right: 0.5em;
    margin-left: -15px;
}

