@import url(variables.css);
@import url(reset.css);
@import url(nav.css);
@import url(header.css);
@import url(footer.css);

@import url(about.css);

@import url(training-vra.css);
@import url(training.css);

@import url(practical-info.css);
@import url(privacy-policy.css);

#appRoot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

html, body{
    
    font-family:'Lato', sans-serif;
}

h1,h2,h3,h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumbs {
    padding: 10px 40px;
    list-style: none;
    text-decoration: none;
    font-family: var(--text-secondary);
    justify-content: flex-start;
    color: var(--text-gray);
}

.breadcrumbs li {
    display: inline;
}

ul.breadcrumbs li+li:before {
    padding: 8px;
    color: var(--text-gray);
    content: "/\00a0";
}

ul.breadcrumbs li a {
    color: var(--text-gray);
    text-decoration: none;
}

ul.breadcrumbs li a:hover {
    color: var(--link-underline);
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.animation-allow{
    transition: all .3s ease-in-out;
}