nav.nav-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-opacity-box);
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 var(--margin-h-big);
    transition: all .2s ease-in-out;
}

.nav-top .logo {
    height: 4.5rem;
    width: auto;
}

.nav-top .logo img {
    width: auto;
    height: 100%;
}

.basic-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    font-family: var(--text-primary);
    color: var(--text-on-bg);
}


.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-family: var(--text-primary);
    color: var(--text-on-bg);
}


.basic-nav li a,
.main-nav li a {
    display: block;
    color: var(--main-bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    color: var(--text-on-bg);
}


/* Now applied hover */
.basic-nav li a:hover,
.main-nav li a:hover {
    color: #752129;
    transition: ease-in-out .1s;
}

/* The underline hover style */
/* .basic-nav li a:hover::after,
.main-nav li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--link-underline);
    transition: ease-in-out .5s;
}
.basic-nav li a::after,
.main-nav li a::after {
    content: '';
    display: block;
    width: 1rem;
    height: 2px;
    background-color: #752129; 
    transition: ease-in-out .5s;
} */

.basic-nav li a.active,
.main-nav li a.active {
    font-weight: var(--text-bold);
    color: var(--button-red);
}

.main-nav li.dropdown-li {
    display: inline-block;
}

.main-nav .dropdown-content-div {
    display: flex;
    visibility: hidden;
    position: absolute;
    background-color: var(--section-darker-bg-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100vw;
    left: 0;
    flex-direction: row;
    transform-origin: top;
    transform: scaleY(0);
}


/*  The dropdown arrow style */
.main-nav .dropdown-content-div::after {
    content: "";
    position: absolute;
    top: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #eaeaea transparent;
    transform: translate(0%, -100%);
    transform-origin: bottom;

}

.main-nav .dropdown-li:nth-child(1) .dropdown-content-div::after {
    right: 42rem;

}

.main-nav .dropdown-li:nth-child(2) .dropdown-content-div::after {
    right: 28rem;
}

.main-nav .dropdown-li:nth-child(3) .dropdown-content-div::after {
    right: 17.5rem;
}

.main-nav .dropdown-li:nth-child(4) .dropdown-content-div::after {
    right: 8.5rem;

}


/*  The red line in the dropdown */
.main-nav .dropdown-content-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top-width: 12px;
    border-style: solid;
    border-color: var(--link-underline);
    transform: translate(0%, -100%);
    transform-origin: bottom;
}

.main-nav .dropdown-li:nth-child(1) .dropdown-content-div::before {
    /* width: 42.5rem; */
    /* width: 76.75rem; */
    width: calc(100% - 43.3rem);

}

.main-nav .dropdown-li:nth-child(2) .dropdown-content-div::before {
    /* width: 28.5rem; */
    /* width: 90.65rem; */
    width: calc(100% - 29.3rem);
}

.main-nav .dropdown-li:nth-child(3) .dropdown-content-div::before {
    /* width: 18rem; */
    /* width: 101.25rem; */
    width: calc(100% - 18.9rem);
}

.main-nav .dropdown-li:nth-child(4) .dropdown-content-div::before {
    /* width: 110.1rem; */
    width: calc(100% - 9.8rem);
}

/* Till this point */

.main-nav .dropdown-content-div .category-continer {
    flex-direction: row;
    display: flex;
    line-height: 1.5;
}

.main-nav.dropdown-content-div a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.main-nav .dropdown-title {
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    width: fit-content;
    font-weight: var(--text-thin);
    user-select: none;
    text-align: center;
    margin: var(--margin-w-medium);
    color: var(--text-on-bg);
    text-transform: uppercase;
}

.main-nav .dropdown-category {
    padding: var(--margin-h-medium);
    margin: 0 var(--margin-w-medium);
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-nav .dropdown-category li a {
    text-align: left;
}

.main-nav .category-title {
    color: var(--heading-color2);
    font-weight: var(--text-bold);
}

.main-nav .category-title::after,
.main-nav .category-title:hover::after {
    display: none;
}

.main-nav .dropdown-category a {
    padding: 0;
    margin: 0;
}

.main-nav .dropdown-li:hover .dropdown-content-div {
    visibility: visible;
    transform: scaleY(1);
}


/* ARROW TO THE TOP */

#backToTop {
    position: fixed;
    z-index: 4;
    bottom: 0;
    right: 0;
    font-size: 4rem;
    margin: var(--margin-h-big) var(--margin-w-big);
    animation: jump 1s infinite;
    visibility: hidden;
    cursor: pointer;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0;
    }
}

/* Open dropdown - this style is for just development purposes */
/* .main-nav .open {
    visibility: visible;
    transform: scaleY(1);
} */

.burger-icon {
    display: none;
    width: 30px;
    height: 30px;
}

.burger-nav-container .burger-icon {
    width: 20px;
    height: 20px;
}

.burger-icon .center-line {
    display: block;
    position: relative;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    height: 3px;
    width: 100%;
    background-color: black;
    transition: all .5s ease-in-out;
}

.burger-icon .center-line::before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    height: 3px;
    width: 100%;
    background-color: black;
    transition: all .5s ease-in-out;

}

.burger-icon .center-line::after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    height: 3px;
    width: 90%;
    background-color: black;
    transition: all .5s ease-in-out;
}

.burger-icon .center-line.active::after {
    transform: rotate(-45deg) translate(6px, -6px);
    width: 100%;
}

.burger-icon .center-line.active::before {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-icon .center-line.active {
    background-color: transparent;
}

.burger-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 6;
    height: 100vh;
    top: 0;
    right: 0;
    width: 25rem;
    background-color: var(--section-bg-color);
    box-shadow: -8px 0px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translate(30rem, 0);
    transition: all .3s ease-in-out;
    padding: var(--margin-h-medium) var(--margin-w-medium);

}

.burger-basic,
.burger-main {
    list-style-type: none;
}

.burger-main li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-main li a {
    font-size: var(--h4);
}

.burger-main li i {
    font-size: var(--h2);
}

.burger-basic li {
    line-height: 2;
}

.burger-basic li a {
    color: black;
    text-decoration: none;
}

.burger-nav-container .burger-icon {
    margin: 1rem;
    margin-left: auto;
}

.burger-nav-container.active {
    transform: translate(0, 0);
    transition: all .3s ease-in-out;

}

.burger-nav-container h2 {
    text-align: center;
    font-weight: var(--text-bold);
    margin-bottom: var(--margin-h-medium);
}

.burger-nav-container .burger-main {
    line-height: 3;
    text-transform: uppercase;
}

.burger-nav-container .burger-main li a {
   color: black;
   text-decoration: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.list-lover-lvl{
    line-height: 2;
    text-transform: none;
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    nav .nav-container {
        display: none;
    }

    nav .burger-icon {
        display: flex;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .burger-main li a {
        font-size: 1rem;
    }

    .burger-main li i {
        font-size: var(--h3);
    }

    .burger-nav-container h2 {
        font-size: var(--h3);
    }

    .burger-nav-container {
        width: 20rem;
    }

    .category-title h2 {
        font-size: var(--h3);
    }

}