nav.nav-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-opacity-box);
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 var(--margin-h-big);
    transition: all .2s ease-in-out;
}

.nav-top .logo {
    height: 4.5rem;
    width: auto;
}

.nav-top .logo img {
    width: auto;
    height: 100%;
}

.basic-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    font-family: var(--text-primary);
    color: var(--text-on-bg);
}


.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-family: var(--text-primary);
    color: var(--text-on-bg);
}


.basic-nav li a,
.main-nav li a {
    display: block;
    color: var(--main-bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    color: var(--text-on-bg);
}


/* Now applied hover */
.basic-nav li a:hover,
.main-nav li a:hover {
    color: #752129;
    transition: ease-in-out .1s;
}

/* The underline hover style */
/* .basic-nav li a:hover::after,
.main-nav li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--link-underline);
    transition: ease-in-out .5s;
}
.basic-nav li a::after,
.main-nav li a::after {
    content: '';
    display: block;
    width: 1rem;
    height: 2px;
    background-color: #752129; 
    transition: ease-in-out .5s;
} */

.basic-nav li a.active,
.main-nav li a.active {
    font-weight: var(--text-bold);
    color: var(--button-red);
}

.main-nav li.dropdown-li {
    display: inline-block;
}

.main-nav .dropdown-content-div {
    display: flex;
    visibility: hidden;
    position: absolute;
    background-color: var(--section-darker-bg-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100vw;
    left: 0;
    flex-direction: row;
    transform-origin: top;
    transform: scaleY(0);
}


/*  The dropdown arrow style */
.main-nav .dropdown-content-div::after {
    content: "";
    position: absolute;
    top: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #eaeaea transparent;
    transform: translate(0%, -100%);
    transform-origin: bottom;

}

.main-nav .dropdown-li:nth-child(1) .dropdown-content-div::after {
    right: 42rem;
    
}

.main-nav .dropdown-li:nth-child(2) .dropdown-content-div::after {
    right: 28rem;
}

.main-nav .dropdown-li:nth-child(3) .dropdown-content-div::after {
    right: 17.5rem;
}

.main-nav .dropdown-li:nth-child(4) .dropdown-content-div::after {
    right: 8.5rem;
    
}


/*  The red line in the dropdown */
.main-nav .dropdown-content-div::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    border-top-width: 12px;
    border-style: solid;
    border-color: var(--link-underline);
    transform: translate(0%, -100%);
    transform-origin: bottom;
}

.main-nav .dropdown-li:nth-child(1) .dropdown-content-div::before {
    /* width: 42.5rem; */
    /* width: 76.75rem; */
    width: calc(100% - 43.3rem);
    
}

.main-nav .dropdown-li:nth-child(2) .dropdown-content-div::before {
    /* width: 28.5rem; */
    /* width: 90.65rem; */
    width: calc(100% - 29.3rem);
}

.main-nav .dropdown-li:nth-child(3) .dropdown-content-div::before {
    /* width: 18rem; */
    /* width: 101.25rem; */
    width: calc(100% - 18.9rem);
}

.main-nav .dropdown-li:nth-child(4) .dropdown-content-div::before {
    /* width: 110.1rem; */
    width: calc(100% - 9.8rem);
}

/* Till this point */

.main-nav .dropdown-content-div .category-continer {
    flex-direction: row;
    display: flex;
    line-height: 1.5;
}

.main-nav.dropdown-content-div a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.main-nav .dropdown-title {
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    width: fit-content;
    font-weight: var(--text-thin);
    user-select: none;
    text-align: center;
    margin: var(--margin-w-medium);
    color: var(--text-on-bg);
    text-transform: uppercase;
}

.main-nav .dropdown-category {
    padding: var(--margin-h-medium);
    margin: 0 var(--margin-w-medium);
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-nav .dropdown-category li a {
   text-align: left;
}

.main-nav .category-title {
    color: var(--heading-color2);
    font-weight: var(--text-bold);
}

.main-nav .category-title::after,
.main-nav .category-title:hover::after {
    display: none;
}

.main-nav .dropdown-category a {
    padding: 0;
    margin: 0;
}

.main-nav .dropdown-li:hover .dropdown-content-div {
    visibility: visible;
    transform: scaleY(1);
}


 /* ARROW TO THE TOP */

#backToTop{
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    font-size: 4rem;
    margin: var(--margin-h-big) var(--margin-w-big);
    animation: jump 1s infinite;
    visibility: hidden;
}

@keyframes jump {
    0% { bottom: 0; } 
    50% { bottom: 5px; } 
    100% { bottom: 0; }
  } 

/* Open dropdown - this style is for just development purposes */
.main-nav .open {
    visibility: visible;
    transform: scaleY(1);
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 

    nav .nav-container{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  }