.top-practical {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-h-big);
}

.sub-title-txt {
  font-family: var(--text-primary);
  color: var(--heading-color);
}

.grey {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--section-darker-bg-color);
  padding: 2rem 0;
}

.grey-wrapper {
  display: flex;
  flex-direction: column;
}

.grey h3 {
  font-family: var(--text-secondary);
  color: var(--heading-color);
  text-transform: capitalize;
  margin-bottom: var(--margin-h-medium);
  font-size: 2rem;
}

.grey-wrapper p {
  font-family: var(--text-secondary);
  color: var(--text-gray);
  margin-bottom: var(--margin-h-big);
  line-height: 4vh;
}

.map-practical iframe {
  width: 60vh;
}

.white {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: var(--margin-h-big);
}

.facilities-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facilities-img img {
  margin-top: var(--margin-h-big);
  height: 30vh;
}

.white-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
}

.white h3 {
  font-family: var(--text-secondary);
  color: var(--heading-color);
  text-transform: capitalize;
  margin-bottom: var(--margin-h-medium);
  font-size: 2rem;
}

.white-wrapper p {
  font-family: var(--text-secondary);
  color: var(--text-gray);
  margin-bottom: var(--margin-h-big);
  line-height: 4vh;
}

.practicalities-wrapper {
  background-color: var(--section-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-h-big);
}

.practicalities-wrapper h2 {
  margin-top: var(--margin-h-big);
}

.practicalities-txt {
  width: 70%;
}

.practicalities-txt h3 {
  font-family: var(--text-secondary);
  color: var(--heading-color);
  text-transform: capitalize;
  margin-bottom: var(--margin-h-medium);
  font-size: 2rem;
}

.practicalities-txt p {
  font-family: var(--text-secondary);
  color: var(--text-gray);
  margin-bottom: var(--margin-h-big);
  line-height: 4vh;
}

.map-practical {
  display: flex;
  position: relative;
}

.map-practical::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  filter: opacity(.3);
  z-index: 1;
  transition: all 0.9s ease-in-out;
}

.map-practical:hover::before {
  visibility: hidden;
  background-color: transparent;
  filter: opacity(.3);
  z-index: 1;
  transition: all 0.9s ease-in-out;
}

/* Large devices (desktops, 1200px and up) */
@media (max-width: 1200px) {
  .grey {
    flex-flow: wrap;
  }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .white {
    flex-flow: column-reverse;
  }

  .white-wrapper {
    width: 100%;
    padding: 3rem 5rem 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

  .map-practical iframe {
    height: 50vh;
    width: 100vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  .grey-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  .white-wrapper {
    width: 100%;
    padding: 3rem 1rem 0;
  }

  .practicalities-txt {
    width: auto;
    margin: 0 1rem;
}
}