:root {
    /* Main colors */
    --main-bg-color: #ffffff;
    --section-bg-color: #F6F6F6;
    --section-darker-bg-color:#EAEAEA;
    --footer-bg-color:#752129;
    
    /* Font styling */
    --text-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-secondary: 'Lato', sans-serif;
    --heading-color: #C22333;
    --heading-color2: #752129;
    --text-on-bg: #272020;
    --text-on-dark: white;
    --text-gray:#8D8484;
    --text-bold: bold;
    --text-normal: normal;
    --text-thin: lighter;
    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --h4: 1.2rem;
  
    
  
    /* Opacity boxes */
    --dark-opacity-box: rgba(0, 0, 0, 0.50);
    --light-opacity-box: rgba(255, 255, 255, 0.70);
  
    /* Gaps,Spaces,Margins */
    --small-gap:.2rem;
    --medium-gap: .5rem;
    --big-gap:1rem;
  
    --margin-h-small:1vh;
    --margin-h-medium:2vh;
    --margin-h-big:5vh;
  
    --margin-w-small:1vh;
    --margin-w-medium:2vh;
    --margin-w-big:5vh;
  
    /* Appointment, Trainers-Teachers */
    --sidebar-box-bg: rgba(117, 115, 45, 0.20);
    
    /* Buttons, call to actions, links */
    --button-gold: #BEA166;
    --button-gold-hover: #bea166e6;
  
    --button-red: #752129;
    --button-red-hover: #752129e6;
  
    --link-underline:#752129;

  }
  .border-top {
      border-top: solid 3px;
  }
  .heading-text {
      line-height: 2.5;
      width: 70%;
      margin: var(--margin-h-big);
  }
  .heading-text p {
      font-size: 1.4rem;
      padding: 2rem 0;
  }
  .cons-title {
      font-size: 1.8rem;
      padding-top: 1rem;
  }
  .prices-flex-container {
      display: flex;
      justify-content: space-between;
  }
  .prices-flex-container p{
    font-size: 1.5rem;
}
  .prices {
      margin: 3rem 0;
  }
  .therapy-prices-container {
      width: 60%;
      line-height: 2.5;
  }

  .dropdown-content-box {
      display: inline-flex;
      width: 70%;
      justify-content: space-between;
  }
  .dropdown-content-box i {
      font-size: 2rem;
  }
  .dropdown-content-text {
    max-height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    width: 70%;
    margin-left: calc(4rem + 40px);
  }

  .dropdown-content-box h4{
    font-weight: var(--text-bold);
    color: black;
    font-size: var(--h3);
  }

  .dropdown-content-text.open {
    max-height: 500vh;
    transition: all 0.5s ease-in-out;
  }
  .dropdown-content-box i.open {
    transform: scale(-1, -1);
    transition: all 0.5s ease-in-out;
    }
    .quote-img-text {
        display: flex;
        width: 70%;
        margin: 3rem;
    }
    .quote-img-text div {
        padding: 2rem;
    }
    .quote-img-text img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .quote-img-text p {
        font-size: 1.4rem;
        line-height: 2;
    }
    .quote-img-text a {
        color: black;
    }
  


  /*Even larger devices*/
  @media (max-width: 1300px) { 
    .therapy-prices-container {
        width: 90%;
    }
   }
/* Extra large devices (large desktops, 1200px and up) */
  @media (max-width: 1200px) { 
    .quote-img-text {
        width: 80%;
    }
    .quote-img-text div {
        padding: 0.5rem;
    }
   }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .prices-flex-container {
        flex-direction: column;
    }
    .prices-flex-container p{
        font-size: 2rem;
        padding: 1rem 0;
    }
    .cons-title {
        font-size: 1.9rem;
    }
    .quote-img-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .heading-text p {
        padding: 2rem 0;
    }
    .heading-text {
        margin: var(--margin-h-medium);
        width: 100%;
        line-height: 2;
    }
    .content-wrapper {
        margin: 0;
        width: 90%;
    }
    .cons-title {
        margin: 0 1rem;
    }
    .therapy-prices-container {
        margin: 0 1rem;
    }
    .quote-img-text {
        margin: 0.5rem;
        width: 100%;
    }
 }